extends layouts/admin.pug

block content
    .admin-notice
        h1 공지
        .btn-wrapper
            .btns.write--btn
                a(href="#") 글쓰기
        table
            tr
                th title
                th description
                th 날짜
                th 수정
                th 삭제
            tr
                td sdsd
                td dsdsd
                td saf
                td
                    .btns.write--btn
                        a(href="#") 수정
                td 
                    .btns.delete--btn
                        a(href="#") 삭제
        