extends layouts/main_jp

block content
    .main--image--right
        img(src="/img/character-img.png")
        .main--image__text
            h1
                span Char 
                | acter
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > Character
    .character-wrapper
        .principal-wrapper
            h2 FAVE 原理
            h3 機能性トレーニング運動器具 + ICT技術
            .principal__img
                img(src="/img/principal.png")
            p.img-gap 機能性トレーニング運動器具と ICT技術を 融合した スマートヘルスケア製品です.
            p
                | 弊社が 独自開発したモーション感知センサーが 製品内部に内蔵されており,
                | 様々な体感型コンテンツが 楽しめ、スマートフォンアプリを 通して運動した後,  
                | 自分の運動量や健康情報まで 提供できます.
            .pentagons
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character1.png")
                    .pentagon__img
                        img(src="/img/character2.png")
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character3.png")
                    .pentagon__img
                        img(src="/img/character4.png")
        .patents-wrapper
            h2 Patents & Intellectual Property
            .patents__text
                h4 すべての技術は 計7つの特許と 知的財産権として 保護されています.
                p 
                    | 我々の技術力は, ゲイミフィケーションバランス運動システムの構築と 独自開発モーション感知センサー,
                    | ユーザー運動情報提供アルゴリズム, 軽い重さ, 特殊な素材にあります.
            .header-rect
            .patents__img
                img(src="/img/patents.png")
        .fave-info
            .fave-info__header
                h3 FAVEの特徴。
            .fave-info__body
                .fave-info__columns
                    .info-icon
                        span
                            i.fas.fa-gamepad
                    .info-text
                        h4 Game
                        p いつどこでも ゲームを 通じて運動を楽しく 楽しめばいいです.
                .fave-info__columns
                    .info-icon
                        span
                            i.fas.fa-mobile-alt
                    .info-text
                        h4 Information
                        p スマートアプリにより, 医学的指標はもちろん、 カロリー消耗量などの情報を提供します.
                .fave-info__columns
                    .info-icon
                        span
                            i.fab.fa-bluetooth-b
                    .info-text
                        h4 Motion Sensor
                        p 製品のモーション感知センサーで ブルートゥース通信を 通じてスマートフォン, タブレット, テレビ, VRで使用できます.
        .fave-material
            .fave-material__header
                h3 FAVEの素材
            .fave-material__body
                .fave-material__img
                    img(src="/img/character/eva.png")
                .fave-material__text
                    h4 EVA(Ethylene Vinyl Acetate)
                    p
                        | EVA素材はゴムのようなプラスチックです.
                        | 欧米FDAの承認を受けて
                        | 食品製造成分に入るほどの安定性が証明された素材です.
                    p
                        span ※ EVA素材
                        | 의の製品材質及び工程特性上, 
                        | 少しの色の滲み及びはげるなど表面は均一ではありません.