extends layouts/main

block content
    .main--image--right
        img(src="/img/character-img.png")
        .main--image__text
            h1
                span Char 
                | acter
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > Character
    .character-wrapper
        .principal-wrapper
            h2 Principle of FAVE
            h3 Functional Training Exercise + ICT Technology
            .principal__img
                img(src="/img/principal.png")
            p.img-gap Smart healthcare product that combines functional training exercise equipment with ICT technology.
            p
                | Our own motion-sensing sensor is built inside the product,
                | so you can enjoy a variety of sensualized content  
                | and health information after exercising through the smartphone app.
            .pentagons
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character1.png")
                    .pentagon__img
                        img(src="/img/character2.png")
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character3.png")
                    .pentagon__img
                        img(src="/img/character4.png")
        .patents-wrapper
            h2 Patents & Intellectual Property
            .patents__text
                h4 All technologies are protected by a total of seven patents and intellectual property rights.
                p 
                    | Our technical skills are in the establishment of a gaming balance exercise system, self-developed motion sensors,
                    | user motor information delivery algorithms, light apps, and special materials.
            .header-rect
            .patents__img
                img(src="/img/patents.png")
        .fave-info
            .fave-info__header
                h3 Features of FAVE
            .fave-info__body
                .fave-info__columns
                    .info-icon
                        span
                            i.fas.fa-gamepad
                    .info-text
                        h4 Game
                        p All you have to do is play games and enjoy your exercise.
                .fave-info__columns
                    .info-icon
                        span
                            i.fas.fa-mobile-alt
                    .info-text
                        h4 Information
                        p Smart apps provide information such as medical indicators and exercise and calorie consumption.
                .fave-info__columns
                    .info-icon
                        span
                            i.fab.fa-bluetooth-b
                    .info-text
                        h4 Motion Sensor
                        p Available on smartphones, tablets, TVs and VR via Bluetooth communications from the product's motion-sensing sensors.
        .fave-material
            .fave-material__header
                h3 material of FAVE
            .fave-material__body
                .fave-material__img
                    img(src="/img/character/eva.png")
                .fave-material__text
                    h4 EVA(Ethylene Vinyl Acetate)
                    p
                        | EVA material is a flexible rubber-like plastic.
                        | It has been approved by the U.S. FDA and
                        | proven to be stable enough to be incorporated into food ingredients.
                    p
                        | Due to the product material and process characteristics of the EVA material,
                        | the finish may not be uniform, such as slight migration or peeling.    

                