extends layouts/main

block content
    .main--image--right
        img(src="/img/character-img.png")
        .main--image__text
            h1
                span Char 
                | acter
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > Character
    .character-wrapper
        .principal-wrapper
            h2 FAVE 원리
            h3 기능성 트레닝 운동기구 + ICT 기술
            .principal__img
                img(src="/img/principal.png")
            p.img-gap 기능성 트레이닝 운동기구와 ICT 기술을 융합한 스마트 헬스케어 제품입니다.
            p
                | 저희 회사에서 독자 개발한 모션 감지 센서가 제품 내부에 내장되어 있어서
                | 다양한 체감형 콘텐츠를 즐길 수 있고 스마트폰 앱을 통하여 운동 후,  
                | 자신의 운동량과 건강 정보까지 제공받을 수 있습니다.
            .pentagons
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character1.png")
                    .pentagon__img
                        img(src="/img/character2.png")
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character3.png")
                    .pentagon__img
                        img(src="/img/character4.png")
        .patents-wrapper
            h2 Patents & Intellectual Property
            h4 모든 기술은 총 7개의 특허와 지적재산권으로 보호받고 있습니다.
            p 
                | 저희의 기술력은 게이미피케이션 밸런스 운동시스템의 구축과 독자개발 모션감지센서,
                | 사용자 운동정보제공 알고리즘, 가벼운무게, 특수한 소재에 있습니다.
            .patents__img
                img(src="/img/patents.png")

                