extends layouts/main_kr

block content
    .main--image--right
        img(src="/img/character-img.png")
        .main--image__text
            h1
                span Char 
                | acter
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > Character
    .character-wrapper
        .principal-wrapper
            h2 FAVE 원리
            h3 기능성 트레닝 운동기구 + ICT 기술
            .principal__img
                img(src="/img/principal.png")
            p.img-gap 기능성 트레이닝 운동기구와 ICT 기술을 융합한 스마트 헬스케어 제품입니다.
            p
                | 저희 회사에서 독자 개발한 모션 감지 센서가 제품 내부에 내장되어 있어서
                | 다양한 체감형 콘텐츠를 즐길 수 있고 스마트폰 앱을 통하여 운동 후,  
                | 자신의 운동량과 건강 정보까지 제공받을 수 있습니다.
            .pentagons
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character1.png")
                    .pentagon__img
                        img(src="/img/character2.png")
                .pentagon__columns
                    .pentagon__img
                        img(src="/img/character3.png")
                    .pentagon__img
                        img(src="/img/character4.png")
        .patents-wrapper
            h2 Patents & Intellectual Property
            .patents__text
                h4 모든 기술은 총 7개의 특허와 지적재산권으로 보호받고 있습니다.
                p 
                    | 저희의 기술력은 게이미피케이션 밸런스 운동시스템의 구축과 독자개발 모션감지센서,
                    | 사용자 운동정보제공 알고리즘, 가벼운무게, 특수한 소재에 있습니다.
            .header-rect
            .patents__img
                img(src="/img/patents.png")
        .fave-info
            .fave-info__header
                h3 FAVE의 특징
            .fave-info__body
                .fave-info__columns
                    .info-icon
                        span
                            i.fas.fa-gamepad
                    .info-text
                        h4 Game
                        p 언제 어디서나 게임을 통해 운동을 신나게 즐기기만 하면 됩니다.
                .fave-info__columns
                    .info-icon
                        span
                            i.fas.fa-mobile-alt
                    .info-text
                        h4 Information
                        p 스마트 앱을 통해 의학적 지표는 물론 운동량과 칼로리 소모량과 같은 정보를 제공합니다.
                .fave-info__columns
                    .info-icon
                        span
                            i.fab.fa-bluetooth-b
                    .info-text
                        h4 Motion Sensor
                        p 제품의 모션감지센서에서 블루투스 통신을 통해 스마트폰, 태블릿, TV, VR에서 사용할 수 있습니다.
        .fave-material
            .fave-material__header
                h3 FAVE의 소재
            .fave-material__body
                .fave-material__img
                    img(src="/img/character/eva.png")
                .fave-material__text
                    h4 EVA(Ethylene Vinyl Acetate)
                    p
                        | EVA 소재는 유연한 고무 같은 속성의 플라스틱입니다.
                        | 미국 FDA의 승인을 받아 식품 재조 성분에 들어갈 정도의 안정성이
                        | 검증된 소재입니다.
                    p
                        span ※ 에바(EVA) 소재
                        | 의 제품 재질 및 공정 특성상 약간의
                        | 이염이나 벗겨짐 등 마감은 균일하지 않을 수 있습니다. 

