extends layouts/main

block content
    .main--image
        img(src="/img/company-img.jpg")
        .main--image__text
            h1
                | COM
                span PANY
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Company
    h2.middle--header
        | CO
        span MPAN
        | Y
    .about-wrapper
        .about__Text
            h3 About us
            h4 Strong Friend
            p 기능성 트레이닝 운동기구와 ICT 기술을 융합한 FAVE 스마트 헬스케어 제품과 체험형 콘텐츠를 제작출시하는 건강한 친구입니다. 향후 사용자의 운동 데이터를 인공지능 AI와 딥러닝을 통해 관리하여 전 세계인을 위한 IOT 헬스케어 플랫폼과 제품을 만드는 것을 목표로 하고 있습니다.
        .about__img
            img(src="/img/fave-team.png")
    .team-wrapper
        .team-columns
            .team__member
                .member__img
                    img(src="/img/hwangsedon.png")
                .member__desc
                    h4 CEO 황세돈
                    ul
                        li -Former Bodybuilder
                        li -Fitness Specialist
                        li -2015 Fitness America
                        li -Weekend In Lasvegas Top 5
                        li -2015 Musclemania Korea 1st Place
        .team-columns
            .team__member
                .member__img
                    img(src="/img/kimheungmyeong.png")
                .member__desc
                    h4 H/W 김흥명
                    ul
                        li -하드웨어 개발
                        li -모션 감지 센서 개발
            .team__member
                .member__img
                    img(src="/img/parkminhan.png")
                .member__desc
                    h4 S/W 박민한
                    ul
                        li -웹 개발
                        li -소프트웨어 개발
        .team-columns
            .team__member
                .member__img
                    img(src="/img/woosumin.png")
                .member__desc
                    h4 S/W 우수민
                    ul
                        li -피지컬 트레이닝 컨텐츠 제작
                        li -소프트웨어 개발
            .team__member
                .member__img
                    img(src="/img/leejeongweon.png")
                .member__desc
                    h4 S/W 이정연
                    ul
                        li -앱 UI/UX개발
                        li -소프트웨어 개발
        .team-columns
            .team__member
                .member__img
                    img(src="/img/leeahhyun.png")
                .member__desc
                    h4 Designer 이아현
                    ul
                        li -컨텐츠 디자인
                        li -모바일 컨텐츠 제작
                        li -UI/UX 디자인
                        li -WEB 디자인
            .team__member
                .member__img
                    img(src="/img/jokwanglae.png")
                .member__desc
                    h4 Designer 조광래
                    ul
                        li -제품 디자인
                        li -UI/UX 디자인
                        li -스포츠 용품 제작
    .mission-wrapper
        h3 Vision & CEO
        .mission__background
            .mission__img
                img(src="/img/mission-img.png") 
            .mission__text
                h4 "운동을 통해 건강하고 행복한 세상"
                p 안녕하세요? Fave를 개발한 (주)건강한 친구의 CEO 황세돈입니다.
                p 저는 프로페셔널 보디 빌더 선수입니다. 
                p 밸런스 트레이닝 운동을 통해 부상을 회복했고 대회에서 우승까지도 차지하였습니다.
                p 이러한 경험으로 저는 밸런스 트레이닝 운동을 널리 알리고자  밸런스 트레이닝 기구인 FAVE를 개발하게 되었습니다. 
                p FAVE를 통해 모두가 운동을 즐겁게 경험하고 더 건강해졌으면 좋겠습니다.
                .mission__sign
                    ul
                        li (주)건강한친구
                        li 대표이사
                    .sign__img
                        img(src="/img/sign.png")
            
