extends layouts/main

block content
    .main--image
        img(src="/img/company-img.jpg")
        .main--image__text
            h1
                | COM
                span PANY
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Company
    h2.middle--header
        | CO
        span MPAN
        | Y
    .about-wrapper
        .about__Text
            h3 About us
            h4 Strong Friend
            p 機能性トレーニング運動器具とICT技術を融合したFAVEスマートヘルスケア製品と体験型コンテンツを製作출発売する健康な友人です。 今後、ユーザーの運動データを人工知能AIとディープラーニングを通じて管理し、世界中の人のためのIOTヘルスケアプラットフォームと製品を作ることを目指しています。
        .about__img
            img(src="/img/fave-team.png")
    .team-wrapper
        .team-columns
            .team__member
                .member__img
                    img(src="/img/hwangsedon.png")
                .member__desc
                    h4 CEO Se-don, Hwang
                    ul
                        li -Former Bodybuilder
                        li -Fitness Specialist
                        li -2015 Fitness America
                        li -Weekend In Lasvegas Top 5
                        li -2015 Musclemania Korea 1st Place
        .team-columns
            .team__member
                .member__img
                    img(src="/img/kimheungmyeong.png")
                .member__desc
                    h4 H/W Heung-Myeong, Kim
                    ul
                        li -ハードウェア開発
                        li -モーション感知センサー開発
            .team__member
                .member__img
                    img(src="/img/parkminhan.png")
                .member__desc
                    h4 S/W Min-Han, Park
                    ul
                        li -Web 開発
                        li -S/W 開発
        .team-columns
            .team__member
                .member__img
                    img(src="/img/woosumin.png")
                .member__desc
                    h4 S/W Su-Min, Woo
                    ul
                        li -フィジカルトレーニングコンテンツ制作
                        li -S/W 開発
            .team__member
                .member__img
                    img(src="/img/leejeongyeon.png")
                .member__desc
                    h4 S/W Jeong-Yeon, Lee
                    ul
                        li -App UI/UX開発
                        li -S/W 開発
        .team-columns
            .team__member
                .member__img
                    img(src="/img/leeahhyun.png")
                .member__desc
                    h4 Designer Ah-Hyun, Lee
                    ul
                        li -コンテンツ design
                        li -モバイルコンテンツ 制作
                        li -UI/UX design
                        li -WEB design
            .team__member
                .member__img
                    img(src="/img/jokwanglae.png")
                .member__desc
                    h4 Designer Kwang-Lae, Jo
                    ul
                        li -製品 design
                        li -UI/UX design
                        li -スポーツ用品の製作
    .mission-wrapper
        h3 Vision & CEO
        .mission__background
            .mission__img
                img(src="/img/mission-img.png") 
            .mission__text
                h4 "運動を通じて健康で幸せな世の中"
                p こんにちは。Faveを開発した(株)元気な友達のCEOファンセドンです.
                p 私はプロフェッショナルボディービルダー選手です. 
                p バランストレーニング運動を通じて負傷を回復し、大会で優勝まで取りました.
                p このような経験で 私は バランストレーニング運動を 広く 知らせようとバランストレーニング器具である FAVEを開発するようになりました. 
                p FAVEを通じて皆が運動を楽しく経験し、もっと元気になったらと思います.
                .mission__sign
                    ul
                        li (株)健康な友達
                        li 代表取締役
                    .sign__img
                        img(src="/img/sign.png")
    .map-wrapper
        .map__text
            h3 Way to come
            p お訪ねの道を案内します.
        #map
        .map__subtext
            ul
                li 位置
                li 釜山広域市海雲台区センタム東魯45 CENTOP 304号
            ul
                li 地下鉄
                li 地下鉄2号線のセンタムシティ駅4番出口、徒歩15分
        script.
            function initMap(){
                var center = {lat:35.173278, lng:129.130436};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: center
                });
                new google.maps.Marker({
                    position: {lat: center.lat, lng:center.lng},
                    map: map,
                    title: "(株)健康な友達"
                })
            }
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiDAEh0LTy0HqRAm_GxKicwTuXQVRitYo&callback=initMap")