extends layouts/main

block content
    .main--image
        img(src="/img/company-img.jpg")
        .main--image__text
            h1
                | COM
                span PANY
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Company
    h2.middle--header
        | CO
        span MPAN
        | Y
    .about-wrapper
        .about__Text
            h3 About us
            h4 Strong Friend
            p we are Strong Friend who produces and markets FAVE Smart Healthcare products that integrate ICT technology with functional training exercise equipment. The goal is to manage future user motion data through artificial intelligence AI and deep learning to create an IOT healthcare platform and products for people around the world.
        .about__img
            img(src="/img/fave-team.png")
    .team-wrapper
        .team-columns
            .team__member
                .member__img
                    img(src="/img/hwangsedon.png")
                .member__desc
                    h4 CEO Se-don, Hwang
                    ul
                        li -Former Bodybuilder
                        li -Fitness Specialist
                        li -2015 Fitness America
                        li -Weekend In Lasvegas Top 5
                        li -2015 Musclemania Korea 1st Place
        .team-columns
            .team__member
                .member__img
                    img(src="/img/kimheungmyeong.png")
                .member__desc
                    h4 H/W Heung-Myeong, Kim
                    ul
                        li -H/W Development
                        li -Make motion detector sensor
            .team__member
                .member__img
                    img(src="/img/parkminhan.png")
                .member__desc
                    h4 S/W Min-Han, Park
                    ul
                        li -Web Development
                        li -S/W Development
        .team-columns
            .team__member
                .member__img
                    img(src="/img/woosumin.png")
                .member__desc
                    h4 S/W Su-Min, Woo
                    ul
                        li -Make Physical Training Content
                        li -S/W Development
            .team__member
                .member__img
                    img(src="/img/leejeongyeon.png")
                .member__desc
                    h4 S/W Jeong-Yeon, Lee
                    ul
                        li -App UI/UX Development
                        li -S/W Development
        .team-columns
            .team__member
                .member__img
                    img(src="/img/leeahhyun.png")
                .member__desc
                    h4 Designer Ah-Hyun, Lee
                    ul
                        li -Content Design
                        li -Make mobile Content
                        li -UI/UX Design
                        li -WEB Design
            .team__member
                .member__img
                    img(src="/img/jokwanglae.png")
                .member__desc
                    h4 Designer Kwang-Lae, Jo
                    ul
                        li -Product Design
                        li -UI/UX Design
                        li -Make sport goods
    .mission-wrapper
        h3 Vision & CEO
        .mission__background
            .mission__img
                img(src="/img/mission-img.png") 
            .mission__text
                h4 "A healthy and happy world through exercise"
                p Hello? Hwang Se-don, CEO of a healthy friend who developed Fave
                p I'm a professional bodybuilder. 
                p I recovered my injury through a balance training exercise and even won the competition.
                p With this experience, I developed a balance training organization, FAVE, to promote the balance training movement. 
                p I hope everyone will enjoy working out and become healthier with FAVE.
                .mission__sign
                    ul
                        li Strong Friend Inc.
                        li CEO
                    .sign__img
                        img(src="/img/sign.png")
    .map-wrapper
        .map__text
            h3 Way to come
            p  I'll show you the way to visit.
        #map
        .map__subtext
            ul
                li Company
                li Sentom-dong-ro, Haeundae-gu, Busan 45 CENTOP 304
            ul
                li Subway
                li Exit 4 of Centum City Station on Subway Line 2 for 15 minutes on foot.
        script.
            function initMap(){
                var center = {lat:35.173278, lng:129.130436};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: center
                });
                new google.maps.Marker({
                    position: {lat: center.lat, lng:center.lng},
                    map: map,
                    title: "Strong Friend Inc."
                })
            }
        script(async, defer, src=`https://maps.googleapis.com/maps/api/js?key=${GOOGLE_MAP}&callback=initMap`)