extends layouts/main

block content
    .main--image
        img(src="/img/connection-img.png")
        .main--image__text
            h1
                | CONNE
                span CTION
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > Connection
    .connection--wrapper
        .steps.bluetooth
            h2 Connection of FAVE
            p To connect the product, perform steps 01 to 04.
                .steps__columns.stripe
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth01.png")
                        ul.steps__list
                            li 01.
                            li Please open the product.
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth02.png")
                        ul.steps__list
                            li 02.
                            li Open the sensor cap of FAVE.
                .steps__columns
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth03.png")
                        ul.steps__list
                            li 03.
                            li Turn on the sensor switch.
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth04.png")
                        ul.steps__list
                            li 04.
                            li Close the sensor cap on FAVE.
        .steps.injection
            h2 Air injection of FAVE
            p If air injection is required, carry out steps 01 to 04.
                .steps__columns
                    .steps__items
                        .steps__img
                            img(src="/img/injection01.png")
                        ul.steps__list
                            li 01.
                            li Open the sensor cap of FAVE.
                    .steps__items
                        .steps__img
                            img(src="/img/injection02.png")
                        ul.steps__list
                            li 02.
                            li Find a hole under the sensor.
                .steps__columns
                    .steps__items
                        .steps__img
                            img(src="/img/injection03.png")
                        ul.steps__list
                            li 03.
                            li Open the tube in the hole.
                    .steps__items
                        .steps__img
                            img(src="/img/injection04.png")
                        ul.steps__list
                            li 04.
                            li Use a pump to inflate.
        h4.blue-print Connection
                