extends layouts/main_jp

block content
    .main--image
        img(src="/img/connection-img.png")
        .main--image__text
            h1
                | CONNE
                span CTION
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > Connection
    .connection--wrapper
        .steps.bluetooth
            h2 FAVE 連結
            p 製品を 繋げるなら 01~04段階を 遂行してください。
                .steps__columns.stripe
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth01.png")
                        ul.steps__list
                            li 01.
                            li 製品を 開封してください
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth02.png")
                        ul.steps__list
                            li 02.
                            li FAVEのセンサーキャップを 開けてください。
                    .stripe__items
                        .item
                        .item
                        .item
                        .item
                        .item
                        .item
                        .item
                        .item
                .steps__columns
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth03.png")
                        ul.steps__list
                            li 03.
                            li センソスイッチを 入れてください
                    .steps__items
                        .steps__img
                            img(src="/img/bluetooth04.png")
                        ul.steps__list
                            li 04.
                            li FAVEのセンサーキャップを 閉めてください
        .steps.injection
            h2 FAVE 空気注入
            p 空気注入が 必要な場合、01~04段階を 遂行してください。
                .steps__columns
                    .steps__items
                        .steps__img
                            img(src="/img/injection01.png")
                        ul.steps__list
                            li 01.
                            li FAVEのセンサーキャップを 開けてください
                    .steps__items
                        .steps__img
                            img(src="/img/injection02.png")
                        ul.steps__list
                            li 02.
                            li センサーの下の穴を 探してください。
                .steps__columns
                    .steps__items
                        .steps__img
                            img(src="/img/injection03.png")
                        ul.steps__list
                            li 03.
                            li 穴ないチューブの入り口を 開けてください。
                    .steps__items
                        .steps__img
                            img(src="/img/injection04.png")
                        ul.steps__list
                            li 04.
                            li ポンプを使用して空気を 注入してください。
        h4.blue-print Connection
                