extends layouts/main_jp

block content
    .main--image--right
        img(src="/img/store/store-img.jpg")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .purchase--page--wrapper
        h2 Smart Balance Trainer_FAVE 450
        .purchase--item--wrapper
            .item--block
                .img--wrapper
                    img#displayImg(src="/img/store/450-pink-diagonal.jpg")
                .img--desc
                    p
                        | 接地面が 広く, 地面からの高さが 低く 安全に
                        | 使用できるため, 負傷の恐れは 少ないです.
                        | 一般の人や お子様にも お使いいただけます.
                        | 女性と お年寄りまで 多様に 使用できます.
                .img--wrapper--small
                    .small--img.choice
                        img(src="/img/store/450-pink-diagonal.jpg")
                    .small--img
                        img(src="/img/store/450-green-diagonal.jpg")
                    .small--img
                        img(src="/img/store/450-pink-top.jpg")
                    .small--img
                        img(src="/img/store/450-green-top.jpg")
                    .small--img
                        img(src="/img/store/450-pink-side.jpg")
                    .small--img
                        img(src="/img/store/450-green-side.jpg")
            .item--block
                form(action=`/store${routes.payment_jp}` method="get")
                    .option--wrapper
                        label.label--text(for="product") 製品
                        .option--detail
                            .detail--product
                                input(type="text",id="product", name="product",value="FAVE 450" readOnly)
                                .option__icon
                                    span
                                        i.fa.fa-caret-down
                    .option--wrapper
                        .label--text 色相
                        .option--detail
                            .color--select
                                ul.select--selected.js--selected
                                    li 色を選択してください.
                                    li
                                        span
                                            i.fa.fa-caret-down
                                .select--items.select--hide
                                    .select--item Pink
                                    .select--item Green
                    .option--wrapper
                        .products--wrapper                        
                    .option--wrapper
                        .label--text 商品総額
                        .option--detail
                            .product--price
                                ul
                                    li
                                        input(type="text", value="0", readOnly, name="totalPrice", id="totalPrice")
                                    li JPY
                    .option--wrapper
                        .option--detail
                            .button--wrapper
                                .button--border
                                    input.purchase--button(type="submit", value="購買する")