extends layouts/main_kr

block content
    .main--image--right
        img(src="/img/store/store-img.jpg", alt="")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .purchase--page--wrapper
        h2 Smart Balance Trainer_FAVE 350
        .purchase--item--wrapper
            .item--block
                .img--wrapper
                    img#displayImg(src="/img/store/350-pink-diagonal.jpg", alt="fave display view")
                .img--desc
                    p
                        | FAVE 350은 전문 선수 및 다양한 운동 숙련자들이 사용하기 좋습니다. 
                        | 발의 접지면이 좁고 지면에서의 높이가 높아 운동효과가 높습니다.
                .img--wrapper--small
                    .small--img.choice
                        img(src="/img/store/350-pink-diagonal.jpg", alt="fave pink diagonal view")
                    .small--img
                        img(src="/img/store/350-green-diagonal.jpg", alt="fave green diagonal view")
                    .small--img
                        img(src="/img/store/350-pink-top.jpg", alt="fave pink top view")
                    .small--img
                        img(src="/img/store/350-green-top.jpg", alt="fave green top view")
                    .small--img
                        img(src="/img/store/350-pink-side.jpg", alt="fave pink side view")
                    .small--img
                        img(src="/img/store/350-green-side.jpg", alt="fave green side view")
            .item--block
                form(action=`/store${routes.payment_kr}` method="get")
                    .option--wrapper
                        label.label--text(for="product") 제품
                        .option--detail
                            .detail--product
                                input(type="text",id="product", name="product",value="FAVE 350" readOnly)
                                .option__icon
                                    span
                                        i.fa.fa-caret-down
                    .option--wrapper
                        .label--text 색상
                        .option--detail
                            .color--select
                                ul.select--selected.js--selected
                                    li 색상을 선택해주세요.
                                    li
                                        span
                                            i.fa.fa-caret-down
                                .select--items.select--hide
                                    .select--item Pink
                                    .select--item Green
                    .option--wrapper
                        .products--wrapper                        
                    .option--wrapper
                        .label--text 총 상품금액
                        .option--detail
                            .product--price
                                ul
                                    li
                                        input(type="text", value="0", readOnly, name="totalPrice", id="totalPrice")
                                    li 원
                    .option--wrapper
                        .option--detail
                            .button--wrapper
                                .button--border
                                    input.purchase--button(type="submit", value="구매하기")
        .purchase--tab
            .purchase--detail
                .purchase--headers
                    h3 Smart Balance Trainer 350
                .purchase--imgs
                    .detail--img
                        img(src="/img/store/350-natural.jpg", alt="fave 350 on the table")
                    .detail--img
                        img(src="/img/store/350-natural2.jpg", alt="fave 350 on the bed")
                .purchase--desc
                    p FAVE 350은 전문 선수나 운동 숙련자에게 추천해드립니다. 
                    p 헬스장이나 전문 피트니스 장에서 사용하기에 최적화된 제품입니다. 
                    p FITNESS 용 장비로 추천합니다.
                    .space 
                    p 코어 근육 증진, 전신 운동, 유산소 운동 등 포괄적인 운동이 가능합니다. 
                    p 또한 밸런스 볼은 재활운동에 쓰이기도 하고, 몸의 밸런스율을 상승시켜줍니다. 
    .center--icons
        .center--icons__wrapper
            .icon--columns
                .center--icon
                    .icon--img
                        i.fas.fa-feather-alt
                    h4 가벼움
                    p
                        | 타사의 밸런스볼에 반해 FAVE는 4분의 1 이상 가볍습니다.
                .center--icon
                    .icon--img
                        i.fas.fa-shield-alt
                    h4 안전한 소재
                    p
                        | EVA 소재는 미국 FDA의 승인을 받은 안정성이 검증된 소재입니다. 
            .icon--columns
                .center--icon
                    .icon--img
                        i.fas.fa-tools
                    h4 맞춤디자인
                    p
                        | 발목에 무리가 가지 않는 정도의 높이와 다양한 운동이 가능한
                        | 넓이로 디자인되었습니다. 
                .center--icon
                    .icon--img
                        i.fas.fa-globe
                    h4 장소 불문
                    p
                        | 실외에서 사용 후 물티슈로 닦아주면 다시 새것처럼
                        | 실내에서 사용하실 수 있습니다.
    .purchase--page--wrapper
        .purchase--spec
            .spec--img
                img(src="/img/store/350-spec.jpg", alt="fave 350 spec")
            .spec--desc
                h4 제원
                ul
                    li 제품명
                    li FAVE 스마트 밸런스 트레이닝
                ul
                    li 무게
                    li 1 kg
                ul
                    li 넓이
                    li 350 mm
                ul
                    li 높이
                    li 150 mm
                ul
                    li 최대하중
                    li 200 kg
                ul
                    li 소재
                    li EVA material
                ul
                    li 제품구성
                    li 본품, 사용설명서, 펌프
                ul
                    li 제조사
                    li (주)건강한친구
                ul
                    li 생산지
                    li Made in Korea
        .desc--accordion
            .accordion__header
                h3 제품 주의사항
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                p 1. 사용 전 항상 안전한 공간을 확보한 상태에서 사용하십시오. 
                p 2. FAVE를 사용하기 전 충분한 스트레칭을 하여 주십시오. 
                p 3. 사용 전 손상된 부분이 없는 지 항상 체크하여 주십시오. 
                p 4. 습기가 많은 곳에서 사용하지 마십시오. 
                p 5. 화기를 피하여 보관, 사용하십시오. 
                p 6. 임의로 분해하거나 변경하지 마십시오. 
            .accordion__header
                h3 Q & A
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                h4.text--header Q1. 제품사용설명서가 있습니까?
                p.text--para 네, 사용설명서가 동봉되어 있습니다. 
                h4.text--header Q2. 품질보증기간이 얼마나 됩니까?
                p.text--para 제품보증기간은 1년입니다. 
                h4.text--header Q3. SENSOR 충전은 어떻게 해야 합니까?
                p.text--para 시중에서 가장 많이 사용되는 마이크로 5핀으로 충전이 가능합니다. 
                h4.text--header Q4. 센서의 충전 상태는 어떻게 확인합니까?
                p.text--para 피트니스 앱과 같은 어플리케이션 내에서 배터리의 잔량 확인이 가능합니다. 
                h4.text--header Q5. 어플리케이션과의 연동은 어떻게 합니까?
                p.text--para
                    | 블루투스를 켠 상태에서 해당 어플리케이션의 설정에서 블루투스 연결을 하면 페어링이 완성됩니다.
                    | 만약 연결되지 않을 시, 센서의 전원을 다시 한 번 켜주십시오. 
                h4.text--header Q6. 세관
                p.text--para
                    | 국가별 관세는 상이하며 이는 각 소비자들이 부담합니다.
                    | 관세 부과와 관련해서는 환불의 사유가 되지 않습니다. 
            .accordion__header
                h3 반품조건(교환&환불 조건)
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                h4.text--header * 교환 및 반품이 불가능한 경우
                p - 고객님의 단숨 변심, 착오구매
                p
                    | - 반송된 상품이 고객님의 사용에 의하여 상품 등의 가치가 현저히 감소된 경우, 손상이 되어 있는 경우
                    | (오염 훼손, 일부 분실된 경우, 상품이 멸실 및 사용 흔적이 있는 경우)
                p
                    | - 센서가 내장된 제품 특성상 제품 상품의 라벨이 떨어진 경우
                    | (상품의 포장 등을 커팅 또는 분실, 훼손하신 경우)
                p - 시간이 경과되어 재판매가 곤란할 정도로 상품의 가치가 상실된 경우
                p
                    | - 튜브: 제품 안에 에어튜브의 바람이 빠지는 경우는 정상입니다. 
                    | 튜브에 바람이 빠지면 같이 동봉되어 있는 에어펌프를 이용해서 바람을 채워주시면 됩니다. 
                p
                    | - 블루투스 연결: 블루투스의 자동연결 해제현상은 반품조건에 해당되지 않습니다.
                p - 제품의 불량으로 볼 수 없는 경우 배송비는 고객님의 부담입니다. 
                p
                    | - A/S에 관해서는 품질보증기간 내에서의 무상수리는 가능하오나 잘못된 사용으로 인한
                    | 센서의 망가짐과 같은 기계적 부분은 유상수리가 될 수도 있습니다.                     