extends layouts/main_jp

block content
    .main--image--right
        img(src="/img/store/store-img.jpg", alt="")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .purchase--page--wrapper
        h2 Smart Balance Trainer_FAVE 350
        .purchase--item--wrapper
            .item--block
                .img--wrapper
                    img#displayImg(src="/img/store/350-pink-diagonal.jpg", alt="fave display view")
                .img--desc
                    p
                        | 接地面が狭く, 地面からの 高さが高くて
                        | 専門選手や 運動熟練者が 使いやすいです.
                .img--wrapper--small
                    .small--img.choice
                        img(src="/img/store/350-pink-diagonal.jpg", alt="fave pink diagonal view")
                    .small--img
                        img(src="/img/store/350-green-diagonal.jpg", alt="fave green diagonal view")
                    .small--img
                        img(src="/img/store/350-pink-top.jpg", alt="fave pink top view")
                    .small--img
                        img(src="/img/store/350-green-top.jpg", alt="fave green top view")
                    .small--img
                        img(src="/img/store/350-pink-side.jpg", alt="fave pink side view")
                    .small--img
                        img(src="/img/store/350-green-side.jpg", alt="fave green side view")
            .item--block
                form(action=`/store${routes.payment_jp}` method="get")
                    .option--wrapper
                        label.label--text(for="product") 製品
                        .option--detail
                            .detail--product
                                input(type="text",id="product", name="product",value="FAVE 350" readOnly)
                                .option__icon
                                    span
                                        i.fa.fa-caret-down
                    .option--wrapper
                        .label--text 色相
                        .option--detail
                            .color--select
                                ul.select--selected.js--selected
                                    li 色を選択してください.
                                    li
                                        span
                                            i.fa.fa-caret-down
                                .select--items.select--hide
                                    .select--item Pink
                                    .select--item Green
                    .option--wrapper
                        .products--wrapper                        
                    .option--wrapper
                        .label--text 商品総額
                        .option--detail
                            .product--price
                                ul
                                    li
                                        input(type="text", value="0", readOnly, name="totalPrice", id="totalPrice")
                                    li JPY
                    .option--wrapper
                        .option--detail
                            .button--wrapper
                                .button--border
                                    input.purchase--button(type="submit", value="購買する")
        .purchase--tab
            .purchase--detail
                .purchase--headers
                    h3 Smart Balance Trainer 350
                .purchase--imgs
                    .detail--img
                        img(src="/img/store/350-natural.jpg", alt="fave 350 on the table")
                    .detail--img
                        img(src="/img/store/350-natural2.jpg", alt="fave 350 on the bed")
                .purchase--desc
                    p FAVE350は専門選手または, 運動熟練者にお勧めします. 
                    p ジムや専門フィットネス場で使用することが最適化された製品です. 
                    p フィットネス用装備でお勧めします.
                    .space 
                    p FAVEはコアの筋肉向上、全身運動、有酸素運動などあらゆる運動ができます 
                    p また, バランスボールはリハビリテーションに使っているし, 体のバランスを上昇させます. 
    .center--icons
        .center--icons__wrapper
            .icon--columns
                .center--icon
                    .icon--img
                        i.fas.fa-feather-alt
                    h4 軽い
                    p
                        | 他社のバランスボールに比べてFAVEは1/4以上軽いです.
                .center--icon
                    .icon--img
                        i.fas.fa-shield-alt
                    h4 安全な素材
                    p
                        | EVA素材は欧米FDAの承認を受けて安定性が検証された素材です. 
            .icon--columns
                .center--icon
                    .icon--img
                        i.fas.fa-tools
                    h4 オーダーメイドデザイン
                    p
                        | 足首に無理のない程度の高さと様々な運動ができる広さにデザインされました.
                .center--icon
                    .icon--img
                        i.fas.fa-globe
                    h4 場所不問
                    p
                        | 室内, 室外どこでも使用できます。
    .purchase--page--wrapper
        .purchase--spec
            .spec--img
                img(src="/img/store/350-spec.jpg", alt="fave 350 spec")
            .spec--desc
                h4 諸元
                ul
                    li 製品名
                    li FAVEスマートアバランストレーニング
                ul
                    li 重さ
                    li 1 kg
                ul
                    li 広さ
                    li 350 mm
                ul
                    li 高さ
                    li 150 mm
                ul
                    li 最大荷重
                    li 200 kg
                ul
                    li 素材
                    li EVA素材
                ul
                    li 製品構成
                    li 本品, 使用説明書, ポンプ
                ul
                    li 製造企業
                    li (株)健康な友達
                ul
                    li 生産地
                    li Made in Korea
        .desc--accordion
            .accordion__header
                h3 製品の注意事項
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                p 1. 使用前に必ず安全空間を確保した後, 使用してください. 
                p 2. 使用前に十分にストレッチングをしてください. 
                p 3. 使用前に破損した部分を確認してください. 
                p 4. 湿気の多いところで使用しないでください. 
                p 5. 火気から避けて保管、使用してください. 
                p 6. 任意に分解したり変更しないでください. 
            .accordion__header
                h3 Q & A
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                h4.text--header Q1. 製品説明書がありますか?
                p.text--para はい, 使用説明書が一緒に入っています. 
                h4.text--header Q2. 品質保証期間はどのくらいですか?
                p.text--para 製品保証期間は1年間です.
                h4.text--header Q3. センサーの充電はどうしますか?
                p.text--para 普段から販売しているマイクロ5ピンで充電できます. 
                h4.text--header Q4. センサーの充電状態はどうすれば確認できますか?
                p.text--para フィットネスアプリとかアプリの中でバッテリー残量を確認できます. 
                h4.text--header Q5. アプリとの連動はどうしますか?
                p.text--para
                    | ブルートゥースをつけたままでアプリの設定でブルートゥース連結をするとできます.
                    | もし連結ができなかったら, センサーの電源をお確かめください. 
                h4.text--header Q6. 税関
                p.text--para
                    | 国によって関税は違います.
                    | これは各消費者あ負担するようになっております. 
                    | 関税賦課に関しては払戻の事由にはなりません.
            .accordion__header
                h3 払い戻し交換政策
                .icons
                    span
                        i.fa.fa-caret-down
            .accordion__body
                h4.text--header * 交換及び返品が不可能な場合
                p - お客様の単純な変心による交換 ／ 返品
                p
                    | - お客様の責任ある事由により, 商品などの価値がひどく破損したり, 毀損したり,
                    | 一部が紛失した場合, 商品が滅失または毀損された場合.
                p
                    | - センサーが内装された製品の特性上商品のラベルが落ちた場合
                p - 時間が経って再販売が困難なほど商品の価値が失われた場合.
                p
                    | - チューブ： 製品の中でエアチューブの空気が抜ける場合は正常です. 
                    | チューブで空気が抜けたら一緒に入っているエアポンプを利用して空気を満たしてください. 
                p
                    | - ブルートゥース連結：ブルートゥースの自動連結, 解消現象は払戻の条件ではありません.
                p - 製品の不良と見られない場合、配送料はお客様の負担です. 
                p
                    | - A/Sに関しては品質保証期間内での無償修理は可能ですが,
                    | 間違えた方法によるセンサーの破損ような機械的な部分は有償修理になるかもしれません. 