extends layouts/main

block content
    .main--image--right
        img(src="/img/fitness-img.png")
        .main--image__text
            h1
                span FITN
                | ESS
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > FITNESS
    .fitness-wrapper
        .paragon
            img(src="/img/pentagon-balance-en.png")
        .download-wrapper
            h2 Smart Balance Training
            .header-rect
            .download__text
                p Exercise Management System
                p FAVE fitness app lets you see the effects of exercise right away.
                p 
                    | COP indicators and professional medical indicators such as muscle activity,
                    | as well as basic information such as a person's body fat and calorie consumption.
            .download__links
                .link__wrapper
                    .link
                        a(href="javascript:void(0)")
                            img(src="/img/googleplay.png")
                    .link
                        a(href="javascript:void(0)")
                            img(src="/img/appstore.png")
                .download__desc
                    p Fitness apps can be downloaded from the Google Store and the App Store.
                    p &#8251; Android 5.0 or higher / IOS 7.1 or higher / Bluetooth 4.2 or higher
    .balance-trainer
        .balance-trainer__wrapper
            .balance-trainer__img
                img(src="/img/together-fave.png")
            p.balance-trainer__text
                span Smart Balance Trainers
                | vary the central axis, increasing the amount of exercise
                | and nerve muscle tone in a short period of time, as well as 
                | strengthening muscles, tendons, ligaments, and growth plates around the hip, knees and ankles.
    .fitness-wrapper   
        .fitness-app
            .app-wrapper
                .app__columns
                    .app__text
                        .app__header
                            h4 Smart Balance Training
                            .gradient-background
                        p
                            | By checking BMI index, fat volume, muscle mass, etc.
                            | you can learn about your body information
                            | and compare your body information with the standard value.
                            | Designs customized exercise programs
                            | based on the results of your fitness measurements.
                    .app__img
                        img(src="/img/fitness/app-mybody.png")
                .app__columns.reverse
                    .app__img
                        img(src="/img/fitness/app-cop.png")
                    .app__text
                        .app__header
                            h4.align-right Training Mode
                            .gradient-background--reverse
                        p
                            | Video lessons from professional training instructors are available
                            | and the sensor alerts you to correct attitude.
                            | It also helps you choose the set of exercises you need
                            | to work out to fit your body.
                .app__columns
                    .app__text
                        .app__header
                            h4 1:1 Training Mode
                            .gradient-background
                        p
                            | While training and playing games with 1:1 customizable markers,
                            | FAVE measure various information such as
                            | COP(Center Of Pressure), VO2MAX, and calorie consumption
                            | to help you manage your health in a smart way.
                    .app__img
                        img(src="/img/fitness/app-result.png")
                .app__columns.reverse
                    .app__img
                        img(src="/img/fitness/app-history.png")
                    .app__text
                        .app__header
                            h4.align-right Record
                            .gradient-background--reverse
                        p
                            | Record the movement data for each exercise.
                            | The data recorded for the training is easy to review
                            | graphically representing the changes and providing
                            | a quick, at-a-glance view.


