extends layouts/main_kr

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="/img/company-img.jpg", alt="")
        .main--image__text
            h1
                | P
                span ASSWOR
                | D
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Password
    .profile--form
        .form__header
            h2 가입한 아이디를 적어주세요.
        form(action=routes.forgotPassword_kr, method="post")
            .basic-info
                h3 기본정보
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="id")
                                | 아이디(Email)
                                span *
                        .basic-info__input
                            input(type="email", name="email", id="id")    
            .submit-info 
                input.submit--Btn(type="submit", value="확인")