extends layouts/main

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="/img/company-img.jpg")
        .main--image__text
            h1
                | P
                span ASSWOR
                | D
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Password
    .profile--form
        .form__header
            h2 Please write down your ID.
        form(action=routes.forgotPassword, method="post")
            .basic-info
                h3 required information
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="id")
                                | ID(Email)
                                span *
                        .basic-info__input
                            input(type="email", name="email", id="id")
            .submit-info 
                input.submit--Btn(type="submit", value="OK")