extends layouts/main

block content
    .main--image
        img(src="/img/game-img.png")
        .main--image__text
            h1
                | G
                span AME
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > GAME
    .game-wrapper
        h2 
            | G
            span AM
            | E
        h3 Let's play with FAVE
        .game-columns
            .item-wrapper
                .item__header
                    h4 Mad Runner
                    .gradient-background
                .item__columns
                    .item__tab-img
                        img(src="/img/madrunner-tab.png")
                    .item__desc
                        p
                            | There are obstacles based on unique themes along with various stages.
                            | The character must pass through the goal point without drowning.
                            | Characters can move to the left, right, and jump.
                        .item__mob-img
                            img(src="/img/madrunner-mob.png")
                .item__links
                    .app__links
                        .app__icon
                            a(href="https://play.google.com/store/apps/details?id=com.Obliqueline.MadRunnerKo&hl=en_US", title="Madrunner", target="_blank")
                                img(src="/img/android.png")
                        .app__icon
                            a(href="https://apps.apple.com/us/app/mad-runner-parkour-run/id1312772982", title="Madrunner", target="_blank")
                                img(src="/img/ios.png")
                    .app__specs
                        p &#8251; IOS 9.0 or higher, and Android 5.0 or higher.
        .game-columns
            .gray-background
            .item-wrapper
                .item__header
                    h4 Driving master
                    .gradient-background.white-background
                .item__columns
                    .item__tab-img
                        img(src="/img/drivingmaster-tab.png")
                    .item__desc
                        p
                            | It's a racing simulation game
                            | with amazing graphics and challenging multistage levels.
                            | Adjust the orientation to the left and right.
                        .item__mob-img
                            img(src="/img/drivingmaster-mob.png")
                .item__links
                    .app__links
                        .app__icon
                            a(href="https://play.google.com/store/apps/details?id=com.BaF.DrivingMaster2&hl=en-US", title="Driving Master", target="_blank")
                                img(src="/img/android.png")
                    .app__specs
                        p &#8251; Android 5.0 or higher.
        .game-columns
            .item-wrapper
                .item__header
                    h4 Smashy World
                    .gradient-background
                .item__columns
                    .item__tab-img
                        img(src="/img/smashyworld-tab.png")
                    .item__desc
                        p
                            | Start destroying small objects on the road.
                            | The more you destroy, the larger the player becomes,
                            | the more objects you can destroy.
                        .item__mob-img
                            img(src="/img/smashyworld-mob.png")
                .item__links
                    .app__links
                        .app__icon
                            a(href="https://play.google.com/store/apps/details?id=com.BaF.SmashyWorld&hl=en-US", title="Smashy world", target="_blank")
                                img(src="/img/android.png")
                    .app__specs
                        p &#8251; Android 5.0 or higher.
        .game-columns
            .download-wrapper
                .download__guide
                    .download__icons
                        .icon
                            img(src="/img/googleplay.png")
                        .icon
                            img(src="/img/appstore.png")
                    .download__texts
                        p Game apps can be downloaded from the App Store and Google Play.
                        p There will be a variety of games to be released.
                    .download__bg
                        img(src="/img/mobiles.png")
                




