extends layouts/main_jp

block content
    .main--image
        img(src="/img/game-img.png")
        .main--image__text
            h1
                | G
                span AME
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > About > GAME
    .game-wrapper
        h2 
            | G
            span AM
            | E
        h3 Let's play with FAVE
        .game-columns
            .item-wrapper
                .item__header
                    h4 Mad Runner
                    .gradient-background
                .item__columns
                    .item__tab-img
                        img(src="/img/madrunner-tab.png")
                    .item__desc
                        p
                            | 多様なステージとともに固有のテーマを もとに障害物があります.
                            | キャラクターが 水に溺れずゴール地点を パスしなければなりません.
                            | キャラクターは 左右移動及びジャンプが 可能です.
                        .item__mob-img
                            img(src="/img/madrunner-mob.png")
                .item__links
                    .app__links
                        .app__icon
                            a(href="https://play.google.com/store/apps/details?id=com.Obliqueline.MadRunnerKo&hl=ja", title="Madrunner", target="_blank")
                                img(src="/img/android.png")
                        .app__icon
                            a(href="https://apps.apple.com/jp/app/%EB%A7%A4%EB%93%9C-%EB%9F%AC%EB%84%88-%EB%AC%BC%EC%97%90-%EB%B9%A0%EC%A7%84-%EC%84%B8%EC%83%81/id1312772982", title="Madrunner", target="_blank")
                                img(src="/img/ios.png")
                    .app__specs
                        p &#8251; IOS 9.0以上, アンドロイド 5.0以上 可能です.
        .game-columns
            .gray-background
            .item-wrapper
                .item__header
                    h4 Driving master
                    .gradient-background.white-background
                .item__columns
                    .item__tab-img
                        img(src="/img/drivingmaster-tab.png")
                    .item__desc
                        p
                            | 驚くべきグラフィックと 挑戦的な
                            | 多段階レベルが ある自動車競走シミュレーションゲームです.
                            | 左右に調整し, 方向調整が 可能です.
                        .item__mob-img
                            img(src="/img/drivingmaster-mob.png")
                .item__links
                    .app__links
                        .app__icon
                            a(href="https://play.google.com/store/apps/details?id=com.BaF.DrivingMaster2&hl=ja", title="Driving Master", target="_blank")
                                img(src="/img/android.png")
                    .app__specs
                        p &#8251; アンドロイド 5.0以上 可能です.
        .game-columns
            .item-wrapper
                .item__header
                    h4 Smashy World
                    .gradient-background
                .item__columns
                    .item__tab-img
                        img(src="/img/smashyworld-tab.png")
                    .item__desc
                        p
                            | 道路の上の 小さな物体から 破壊し始めなさい.
                            | 破壊するほど プレーヤーは 次第に大きくなり
                            | さらに多くの物体を 破壊することができます.
                        .item__mob-img
                            img(src="/img/smashyworld-mob.png")
                .item__links
                    .app__links
                        .app__icon
                            a(href="https://play.google.com/store/apps/details?id=com.BaF.SmashyWorld&hl=ja", title="Smashy world", target="_blank")
                                img(src="/img/android.png")
                    .app__specs
                        p &#8251; アンドロイド 5.0以上 可能です.
        .game-columns
            .download-wrapper
                .download__guide
                    .download__icons
                        .icon
                            img(src="/img/googleplay.png")
                        .icon
                            img(src="/img/appstore.png")
                    .download__texts
                        p ゲームアプリは, アップストアと グーグルプレーで ダウンできます
                        p 多様な 種類のゲームが 持続的に発売される予定です.
                    .download__bg
                        img(src="/img/mobiles.png")