extends layouts/main

block content
    .movie
        img(src="img/surf.jpg")
    .body-wrapper
        .fave-intro
            .fave-intro__header
                h2 FAVE 스마트 밸런스 트레이너
            .fave-intro__paragraph
                p 
                    | FAVE의 스마트 밸런스 트레이너는 기능성 트레이닝 운동기구와 ICT 기술을 융합한 스마트 헬스케어 제품입니다.
                    | 스마트폰, PC/태블릿, AR/VR 기기, TV 등과 bluetooth 연동이 가능하며 모션감지센서가 사용자의 움직임을 감지하여,
                    | 게임 속 캐릭터의 동작에 반영되는 제품입니다.
    p main page EN