extends layouts/main

block content
    .movie
        video(autoplay, loop, muted, playsinline)
            source(src="/videos/home.mp4", type="video/mp4")
            source(src="/videos/home.webm", type="video/webm")
            | Something wrong :(
    .main-wrapper
        .main__text
            h2
                span S
                | mart Balance Trainer
            p.text-gap
                | FAVE's Smart Balance Trainer is a smart healthcare product that fuses ICT technology
                | with functional training exercise equipment.
            p
                | Bluetooth connection is possible with smartphones, PC/tablets, AR/VR devices, and TVs and
                | Motion sensors detect user movement and reflect the behavior of the game
        .main__links
            .main__links__row
                .image-wrapper
                    a(href=`/about${routes.fitness}`, title="Fitness")
                        h3 Fitness App Download
                        .image__item
                            img(src="/img/home/fitness.png", alt="fitness")
                    .gray-wrapper
                .image-wrapper
                    a(href=`/about${routes.game}`, title="Game")
                        h3 Game App Download
                        .image__item
                            img(src="/img/home/game.png", alt="game")
                    .gray-wrapper
            .main__links__row
                .image-wrapper
                    a(href=`/about${routes.character}`, title="Character")
                        h3 Product Features
                        .image__item
                            img(src="/img/home/character.png", alt="character")
                    .gray-wrapper
                .image-wrapper
                    a(href=`/about${routes.connection}`, title="Connection")
                        h3 Bluetooth Connection
                        .image__item
                            img(src="/img/home/connection.png", alt="connection")
                    .gray-wrapper
        .main__features
            .feature__columns
                .feature__items
                    .item__icon
                        span.item__border
                            img(src="/img/home/feather.png", alt="feather")
                    h4.item__text Light and Simple
                .feature__items.reversed--feature
                    .item__icon
                        span.item__border
                            img(src="/img/home/phone.png", alt="phone")
                    h4.item__text Fitness App
            .feature__columns
                .feature__items
                    .item__icon
                        span.item__border
                            img(src="/img/home/dumbbell.png", alt="dumbbell")
                    h4.item__text Exercise Effect
                .feature__items.reversed--feature
                    .item__icon
                        span.item__border
                            img(src="/img/home/signal.png", alt="signal")
                    h4.item__text Motion Detector
                .feature__items
                    .item__icon
                        span.item__border
                            img(src="/img/home/gamepad.png", alt="gamepad")
                    h4.item__text Video Game training
    .main__middle
        .middle__img
            img(src="/img/home/couple.png", alt="couple with fave")
        .middle__text
            h4 SMART BALANCE TRAINING
            h3 FAVE
            h5 FAVE pursues a world of happiness through exercise.
            p With FAVE, the world will be richer and happier.
    .main__videos
        h2
            span VI
            | DEO
        .videos
            iframe(src="https://www.youtube.com/embed/y3NnoI6xPsk", frameborder="0", allow="accelerometer; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
        .videos
            iframe(src="https://www.youtube.com/embed/xh_5Nc4sPdY", frameborder="0", allow="accelerometer; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)
