extends layouts/main_jp

block content
    .main--image
        img(src="/img/company-img.jpg")
        .main--image__text
            h1
                | L
                span ogin
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Login
    .login--form
        .form__header
            h3 ログイン
        form(action="/login/jp", method="post")
            .login-info__data
                .login-info__wrapper
                    .login-info__label
                        label(for="email") Eメール
                    .login-info__input
                        input(type="email", name="email", id="email", placeholder="Email")
                .login-info__wrapper
                        .login-info__label
                            label(for="password1") パスワード
                        .login-info__input
                            input(type="password", name="password", id="password1", placeholder="Password")
            .login-info__Btn
                input.login--Btn(type="submit", value="ログイン")
                ul.login__links
                    li
                        a(href=routes.signup_jp) FAVEの会員では ございませんか?
                    li
                        a(href=routes.forgotPassword_jp) 暗証番号を なくしてしまったんですか?