extends layouts/main_kr

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="/img/company-img.jpg", alt="")
        .main--image__text
            h1
                | P
                span ASSWOR
                | D
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Profile > Password
    .profile--form
        .form__header
            h2 비밀번호
            p 
                span *
                | 표시는 필수입력항목입니다.
        form(action=`#`, method="post")
            .basic-info
                h3 기본정보
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password")
                                | 현재 비밀번호
                                span *
                        .basic-info__input
                            input(type="password", name="password", id="password")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password1")
                                | 새 비밀번호
                                span *
                        .basic-info__input
                            input(type="password", name="password1" id="password1" placeholder="8자 이상 입력해주세요.")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password2")
                                | 비밀번호 확인
                                span *
                        .basic-info__input
                            input(type="password", name="password2" id="password2")    
            .submit-info 
                input.submit--Btn(type="submit", value="확인")