extends layouts/main

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="/img/company-img.jpg", alt="")
        .main--image__text
            h1
                | P
                span ASSWOR
                | D
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Profile > Password
    .profile--form
        .form__header
            h2 Password
            p 
                span *
                | is required information.
        form(action=`/user${routes.change_password}`, method="post")
            .basic-info
                h3 required information
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password")
                                | Current Password
                                span *
                        .basic-info__input
                            input(type="password", name="password", id="password")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password1")
                                | New Password
                                span *
                        .basic-info__input
                            input(type="password", name="password1" id="password1" placeholder="at least 8 characters.")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password2")
                                | Password Check
                                span *
                        .basic-info__input
                            input(type="password", name="password2" id="password2")    
            .submit-info 
                input.submit--Btn(type="submit", value="OK")