extends layouts/main_jp

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="/img/company-img.jpg", alt="")
        .main--image__text
            h1
                | P
                span ASSWOR
                | D
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Profile > Password
    .profile--form
        .form__header
            h2 パスワード
            p 
                span *
                | は 必須入力項目です.
        form(action=`/user${routes.change_password_jp}`, method="post")
            .basic-info
                h3 必須情報
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password")
                                | 現在の パスワード
                                span *
                        .basic-info__input
                            input(type="password", name="password", id="password")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password1")
                                | 新 パスワード
                                span *
                        .basic-info__input
                            input(type="password", name="password1" id="password1" placeholder="8字以上 入力してください.")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password2")
                                | 暗証番号の 確認
                                span *
                        .basic-info__input
                            input(type="password", name="password2" id="password2")    
            .submit-info 
                input.submit--Btn(type="submit", value="OK")