extends layouts/terms

block content
    .condition__terms
        h1
            span FAVE
            |　プライバシーポリシー　及び　クッキーポリシー
        .condition__border-line
            p
                | このプライバシーポリシーは, FAVEの ウェブサイト（「本サイト」）及びモバイル用アプリケーション（「本アプリ」)を 
                | お客様が利用される際に収集又は 生成・加工される個人情報についてご説明するものです. また, お客様の個人情報がどのように利用され, 
                | 第三者等に提供され, 保護されるか, またお客様がご自身の個人情報に関してどのようなことを 選択できるか, そして FAVEへのお問合せの方法についてもご説明しています.
            ul
                li 誰が 個人情報取扱事業者であるか？
                li どのような個人情報を, いつ, 当社が取得するか?
                li どの個人情報を 当社が取得するかを 管理するツール
                li お客様の 個人情報の 利用目的と利用方法
                li お客様の 個人情報の 第三者等への提供
                li お客様の 個人情報の 保護と管理
                li お客様の 個人情報に 関するお客様の権利
                li クッキーとピクセルタグ
                li FAVEの サイトやアプリを 第三者の 製品・サービスで利用する場合
                li プライバシーポリシーの 変更
                li ご質問とフィードバック
            h3 誰が個人情報取扱事業者であるか？
            p
                | お客様の 個人情報の 取扱いにつき責任を 負う FAVE法人は, お客様が本サイト及び本アプリにどの ようにアクセスされたか 
                | 並びにお客様が世界の どこにいらっしゃるかによって, 異なります. 
                | 該当する FAVE法人を このプライバシーポリシーにおいて「FAVE」又は 「当社」と称します.
            h3 どのような 個人情報を, いつ, 当社が取得するか？
            p
                | 当社は, お客様が お求めの製品やサービスを ご提供するために, お客様に, 個人情報の ご提供をお願いしております.これには, 
                | 例えば, お客様がご購入を される場合, 当社の カスタマーサービスにご連絡頂く場合, 当社からの 情報の 受領を要望される場合, 
                | アカウントを 作成される場合, 当社の イベント又は キャンペーンに参加される場合, 本サイト又は本アプリを 利用される場合が該当します.
            p この ような 場合に当社が お客様にご提供を お願いする個人情報には, 以下の ものが含まれます.
            ul
                li 連絡先情報：氏名, 電子メール, 電話番号, 出荷先・請求先住所など
                li ログイン及びアカウント情報： パスワード, 固有のユーザー IDなど
                li 個人の詳細情報：性別, お住まいの 地域, 生年月日, 購入履歴など
                li 画像, 写真及び動画
                li 身体に関するデータ：体重, 身長及び身体測定データ（例えば, 推定ストライド, シューズや足のサイズ, 衣類のサイズ）など
                li フィットネス活動データ(お客様が 提供されたもの 又は本サイトや本アプリにおいて 生成されたもの. 例えば, タイム, 継続時間, 距離, 位置情報, 消費カロリー, ペース/ストライド)
                li 個人的な嗜好・選択：ウィッシュリスト, マーケティングに関する選択など
            p
                | FAVEは, 本サイト及び本アプリにおいて特定の 機能を利用可能とするために, 追加の個人情報を取得することがあります.
                | 例えば, お客様のランニング・ルートのログを 記録するためにお客様の 携帯電話の 位置データへの アクセスを求める場合, 
                | お客様が希望されるご友人とのデータ共有ができるようにするためにお客様の 連絡先情報への アクセスを求める場合, 
                | お客様のトレーニング計画を スケジュールするためにお客様の カレンダー情報への アクセスを求める場合, 本アプリからソーシャルネットワークにコンテンツを 
                | 投稿して頂くためにお客様の ソーシャルネットワークの 認証情報への アクセスを求める場合などがあります.
                | このような場合に当社がお客様から 取得する個人情報には, 以下のものが 含まれます.
            ul
                li お客様の デバイス(端末)の加速度センサーから 収集される動作データ
                li 写真, 音声, 連絡先情報及びカレンダー情報
                li センサー情報, 心拍数, GPSによる位置データなど
                li ソーシャルネットワーク情報：FAVEに関するお客様の公開投稿や FAVEとの間でなされるコミュニケーションから 得られる認証情報その他の情報など
            p
                | お客様が 本サイト又は本アプリにアクセスされている間, お客様の一定のデータが自動的に, お客様のデバイス(端末)又はウェブブラウザから, 収集されます. 
                | その詳細については, このプライバシーポリシーの クッキーとピクセルタグの セクションをご覧ください.
                | この場合に収集される個人情報には, 以下のものが含まれます
            ul
                li デバイスのID, コール情報, ネットワーク・アクセス, ストレージ情報, バッテリー情報
                li クッキー, IPアドレス, ヘッダー情報, お客様のウェブブラウザ及びその バージョンの情報, ウェブビーコン及びタグ
            h3 どの個人情報を当社が収集するかを 管理するツール
            p
                | お客様が本アプリ及び本サイトを 利用されている時, 当社は一定の個人情報取扱いについて 適時の通知を お送りし, 又はお客様の同意を 取得します. 
                | 例えば, お客様の位置 データの利用について お客様の同意を 取得し, 又はプッシュ通知を お送りします.
                | 当社は, この同意の取得を, 本アプリ若しくは 本サイトを通じて, 又はお客様のデバイス(端末)において 利用可能な標準的同意方法によって, 行うことがあります
            p
                | 多くの場合, お客様のウェブブラウザ又は 携帯端末のプラットフォームにおいて, お客様の端末から一定の種類の個人情報が 収集又は 提供されることの, 
                | お客様によるコントロールを 可能にするための追加の管理ツールが 提供されています. 例えば, 
                | お客様の携帯端末又はウェブブラウザにおいて, クッキーの使用や位置データの共有を お客様が コントロールできるツールが提供されていることがあります. 
                | 当社は, お客様自身が お客様の端末上で利用可能なツールについて理解を深め, 適切にご利用されることをおすすめします
            h3 お客様の個人情報の利用目的と利用方法
            p 当社は, お客様の個人情報を, 以下の目的及び方法で利用します. 
            h3 本サイト, 本アプリ及びお客様がお求めのサービスの機能の提供
            p
                | お客様が本サイト及び本アプリを ご利用されるとき, 当社は お客様がお求めの製品又は サービスを ご提供するために, お客様の個人情報を利用します. 
                | 例えば, お客様が faves.co.krにおいてご購入を される場合や, イベントやプロモーションに参加される場合に, お客様が当社に提供された連絡先情報を 利用して, 
                | お客様と当該ご購入, イベント又は プロモーションに 関するご連絡をお客様との間で行います. お客様が当社のカスタマーサービスにご連絡される場合には, 
                | お客様の問題やお問合せ事項を 解決するために, ご購入された製品に関する情報, 支払情報, 配送情報などのお客様に関する情報を利用します.
            p
                | お客様が 本アプリにおいてお客様のフィットネス活動や身体情報を トラックする場合, 当社は, お客様が 本アプリ上でそれを 確認できるように,
                | これらの個人情報を収集・保存します. お客様のフィットネス活動情報には, お客様が 入力された活動情報に加え, お客様の活動中にお客様の端末により収集された情報(例えば, 
                | 位置データや動作データ) が含まれます. FAVEは, お客様のこれらの活動情報を, お客様の活動に関する追加的な 情報の測定のためにも利用します. 
                | 例えば, 走行距離やカロリー消費量が測定され, 本アプリの機能の一部としてお客様にこれらの情報が提供されます
            p
                | 多くの場合, 本サイト, 本アプリ及びサービスの特定の機能を利用するために, お客様はFAVEに対して, 追加のデータ提供や, 特定のデータが 
                | 特定の方法で利用されることへの追加の同意を して頂く 必要があります. 例えば, 本アプリの心拍数トラッキング機能を 利用して頂くために, 
                | 心拍数計測装置を 接続して頂く必要が ある場合があります. また, ソーシャルネットワークにおいてコンテンツを シェアする場合, 
                | お客様はそのソーシャルネットワークにサインインするために, そのアカウントの認証情報の提供を 求められる場合があります
            h3 FAVEの製品・サービス・イベントに関する情報のご提供その他のご案内
            p
                | お客様に同意頂いた場合, 当社はお客様に, FAVEの製品, サービス, イベント, キャンペーンその他のご案内についてのご連絡及びニュースをお送りします. 
                | お客様は, 同意をされた後いつでも, これらのご連絡の停止を申し出ることができます
            p
                | お客様が FAVEの既存顧客でいらっしゃる場合(例えば, FAVEにご注文を頂いたことがある場合), 当社は, お客様が ご連絡の中止を 申し出られない限り, 
                | 類似のFAVE製品又は サービスに関するご案内を お客様に送付するために, お客様が提供された連絡先を, 適用ある法令上認められる範囲内で, 利用することがあります.
                | それ以外の場合は, マーケティング目的のご案内を 送付するためには, お客様のご同意を 得るように致します. 当社は, お客様が 当社に提供される情報に加えて, 
                | 他のFAVE製品又は サービスからの情報, 例えば, お客様の本サイト及び本アプリのご利用による情報, FAVEの店舗へのご来店又は そこでのご購入による情報, 
                | FAVEのイベントやキャンペーンへのご参加による 情報などを, お客様に関心を もって頂けるかもしれない 製品やサービスについてのパーソナライズされたご案内に
                | 利用することがあります
            h3 FAVEの事業、製品及びサービスの運営、維持、向上
            p
                | 当社は, その事業の運営のために, お客様が当社に提供された 個人情報を 利用します. 例えば, お客様がご購入を された場合, 当社は, 会計, 監査, 
                | その他の社内機能のために, その情報を 利用します. 当社は, お客様のFAVE製品及びサービスのご 利用方法についての個人情報を, 
                | お客様のユーザーエクスペリエンスの向上のために, また技術上・サービス上の問題の診断・本サイト及び本アプリの運用のために, 利用する場合があります. 
            h3 FAVE又は第三者の権利、財産及び安全の保護
            p
                | FAVEは, お客様が本サイト及び本アプリを どのように利用されたかについての個人情報を, 詐欺, 悪用, 違法行為又は当社の利用規約違反の防止又は発見や, 
                | 裁判所の命令, 行政機関の要求その他適用される法令遵守のために, 利用する場合があります.
            h3 リサーチ及び分析一般
            p
                | FAVEは, 本サイト, 本アプリ及びサービスへの訪問者の, これらの利用方法に関するデータを, 顧客の行動特性や嗜好を 理解する目的で利用します. 
                | 例えば, faves.co.krの訪問者が製品を 検索し, 見つける方法についての情報を, FAVEの店舗における製品の配置や展示の最適な 方法を よりよく理解するために, 利用します.
            h3 ワークアウト情報の利用(取扱い)
            p
                | 前記のとおり, FAVEはお客様のフィットネス活動又は身体情報(「ワークアウト情報」と総称します.)を, 本アプリ及びその他のサービスの提供のために収集します. 
                | ワークアウト情報は特に個人的な性質を 有することから, 当社は, これらの情報が どのように利用されるかに関する 明確な情報を, お客様に提供するように努めます
            h3 その他の目的
            p 当社は, お客様の個人情報を その他の目的のため使用する場合が ありますが, その場合には取得時に個別の通知を お送りし, また必要に応じてお客様の同意を 取得します.
            h3 法的根拠
            p 当社は, お客様の個人情報を 取り扱うために, お客様が本サイト及び本アプリに関わる態様に応じた法的根拠に依拠します.
            ul
                li
                    | お客様が本サイト及び本アプリから FAVE製品を 購入する場合, 当社は, お客様との契約を 履行するために, お客様の個人情報を必要とします. 
                    | 例えば, お客様の注文製品を お届けするために, 支払情報と連絡先を必要とします
                li お客様が 本アプリを 利用する場合, 当社は, お客様との契約を 履行するために, 取扱い及び一定の限定された目的(例えば, 本アプリ内の購入) に係るお客様の同意に依拠します
                li 当社はまた, 法的義務を遵守し, 又はお客様の生命に関する利益を 保護するために, 事業としての当社の正当な 利益など他の法的根拠にも依拠します.
            h3 お客様の個人情報の第三者等への提供
            h3 FAVEによる提供
            p FAVEは, お客様の個人情報を, 以下の者に提供します.
            ul
                li 上記の目的のために, かつ上記の条件の下で, 個人情報の共同利用者又は 個人情報の取扱いの受託者としてのFAVEグループの法人に提供します
                li
                    | FAVEから, 上記の利用目的の達成に必要な 範囲内における個人情報の取扱いの委託を 受けた業者に対し, 当該委託に伴う個人情報の提供をします. 
                    | 例えば, クレジットカード及び支払いの処理, 出荷及び配達, 当社のデータのホスト・管理・運営, 電子メールの配信, 調査及び分析, ブランドの管理, 
                    | 製品の販売促進活動, サービス及び機能の提供の運営などのために, 個人情報の提供を します. 個人情報の取扱受託業者を 利用する場合, 
                    | 当社は, その業者に, お客様の個人情報を 保護するための適切な 技術的及び組織的な 安全管理措置の実施を 義務づける契約を締結しています
                li
                    | (1) 行政機関の要求, 裁判所の命令, 適用法令の遵守, (2) 本サイト若しくは 本アプリの違法な 利用又は本サイト及び本アプリの利用規約並びに当社のポリシーの違反の防止, 
                    | (iii) 第三者によるクレームからの当社の防御, (iv) 詐欺的行為の防止や不正行為(例えば, 偽造品など) の調査のため必要な範囲で, 第三者への提供をします
                li お客様が 同意された場合に, その他の第三者への提供をします
            p
                | 当社は, その事業又は資産の全部又は 一部を 売却, 移転又は承継する場合に(これには, 事業再構築, 合併, 会社分割, 事業譲渡, 分社化, 解散又は 清算による場合を 含みます.), 
                | これに伴い, お客様について当社が 保有する 個人情報の提供を することがあります.
            h3 お客様による提供
            p
                | お客様は, 本サイト又は本アプリのソーシャルネットワーク機能を 利用される場合, 公開プロフィールを 作成できます. そのプロフィールには, 
                | 例えば, お客様のスクリーンネーム, プロフィール写真, などの情報を 含めることができます. また, お客様は, 友達との間で又は一般公開により, 
                | お客様のFAVE・アクティビティに関する情報を 含むコンテンツを共有できます. 当社は, お客様が, どのような範囲の情報をFAVEのソーシャル機能を 
                | 通じて共有されるかを 管理するため, 当社が提供する FAVEのソーシャル・シェアリングの管理ツールを 利用されることを おすすめします.
            h3 お客様の個人情報の保護と管理
            h3 暗号化及びセキュリティ
            p 当社は, 複数の技術的及び組織的な安全管理措置を 講じています. これには, お客様の個人情報の安全を 確保するための暗号化ツールや認証ツールが含まれます.
            h3 お客様の個人情報に関するお客様の権利
            p
                | お客様は, FAVEに対し, 次のことを求めることができます. (1) お客様の個人情報へのアクセス, (2) お客様の個人情報の電子コピー(ポータビリティ) (3) 不完全又は不正確な場合には, 
                | お客様の個人情報の訂正, 又は (4) 適用法令が 定める一定の場合における, お客様の個人情報の消去若しくは制限. これらの権利は 絶対的なものでは ありません. 
                | お客様の個人情報の取扱いについて当社が お客様の同意を 取得している場合には, お客様は いつでも 同意を 撤回する権利を有しています.
            p お客様が お客様の個人情報のコピーを求め, 又はお客様のその他の権利を 行使する場合には, fave188170@gmail.comへ当社宛に電子メールをください.
            h3 クッキーとピクセルタグ
            p
                | お客様が本サイトを 利用する場合, FAVEは, お客様のブラウザから 個人情報を 含む可能性のある情報を収集します. 
                | 当社は, 様々な手段, 例えばクッキーとピクセルタグを 用いて当該情報を 収集します. 収集される情報には, 以下のお客様の情報が含まれます. 
                | (1) IPアドレス, (2) 固有のクッキー識別子, クッキー情報及びお客様の端末が 特定のフィーチャーにアクセスするソフトウェアを 有しているか否かに関する情報, 
                | (3) 固有のデバイス識別子, デバイスタイプ, (4) ドメイン, ブラウザの種類及び言語, (5) オペレーティングシステム及びシステム設定, (6)国とタイムゾーン, 
                | (7) ウェブサイトの訪問履歴, (8) 本サイトでのお客様のインタラクション情報, 例えば, クリックの内容, 購買履歴, 示唆される嗜好, (9) アクセス時間及び参照URL.
            p
                | 第三者も, 本サイト経由でクッキー, 第三者のプラグイン及びウィジェットを 介して情報を収集することが あります. これらの第三者は, お客様のウェブブラウザから
                | 直接データを 収集するものであり, このデータの取扱いについては, 当該第三者自身のプライバシーポリシーが 適用されます
            p
                | 当社は, お客様の本サイトの使用状況のトラッキング及び嗜好(例えば, 国及び言語の選択等) の把握のためにクッキー及びピクセルタグを 利用します. 
                | これにより, 当社はお客様にサービスを提供し, お客様のオンラインエクスペリエンスを 向上させることができます. また, 当社は, 
                | サイトトラフィック及びサイトインタラクションの集計データを 取得し, トレンドを 把握し, 統計を 取得して本サイトを 改善することが 
                | できるようにするためにクッキー及びピクセルタグを 利用します. 本サイトにおいて使用されるクッキーの主なカテゴリーは, 以下の３つです
            ul
                li
                    | 機能 : これらのクッキーは, 基本的なサイト機能のために必要とされ, したがって常に有効にされています. 
                    | これには, お客様が 一回のセッションに又は お客様が 希望する場合は セッションから別のセッションまでに, お客様が 本サイトを
                    | 閲覧するに伴いお客様を 記憶できるようにするクッキーを 含みます. それらは, ショッピングカートや 決済プロセスの利用を 可能にし, 
                    | 同時にセキュリティ問題や法令の遵守に役立ちます.
                li
                    | パフォーマンス : これらのクッキーは, 使用状況トラッキングにより本サイトの機能を 向上させます. 例えば, これらのクッキーは, お客様の本サイトでのリクエストを 
                    | 当社が処理するに際してのスピードを 高め, またお客様が 選択されたサイトプレファレンスを 当社が記憶することに役立ちます.
                    | これらのクッキーを 無効にされた場合, お客様の嗜好に合致しない推奨や, サイトのパフォーマンスが 低下する結果となることが あります.
                li
                    | ソーシャルメディア及びアドバタイジング : ソーシャルメディアクッキーは, お客様を お客様のソーシャルネットワークに接続し, ソーシャルメディアを 
                    | 通じて本サイトのコンテンツを 共有する 可能性を 提供します.(第三者の)アドバタイジングクッキーは, 本サイト内外において, お客様の嗜好により合致した広告が 
                    | 表示できるように情報を 収集します. これらのクッキーは, お客様の個人情報の取扱いを 含む場合が あります. 
                    | これらのクッキーを 無効にされた場合, お客様と無関係の広告が 表示され, お客様は Facebook、Twitter その他のソーシャルネットワークと 有効にリンクできなくなり, 
                    | 及び/又は ソーシャルメディアでのコンテンツ共有が できなくなる可能性が あります.
            h3 プライバシーポリシーの変更
            p
                | 適用される法令及び当社の運用は, 適宜変更されます. 当社がプライバシーポリシーの更新を 決定した場合には, 当社は 本サイト及び本アプリに当該変更を 掲示します. 
                | お客様の個人情報の取扱方法について重要な 変更が ある場合には, お客様に事前に通知し, 又は法律上要求される場合には, 当該変更を 
                | 実施する前にお客様の同意を得るようにします. 当社は, お客様が プライバシーポリシーを精読し, 当社の運用についてご理解頂くことを 強くおすすめします.
            h3 ご質問とフィードバック
            p
                | 当社は, プライバシーポリシー及び当社のプライバシー慣行についてのご質問, ご意見, 疑問を 歓迎いたします. ご質問, 疑問が おありの場合又は 
                | お客様の個人情報に関する権利の行使を ご希望の場合には, (1)カスタマーサービス（faves.co.kr), (2)電子メールにて fave188170@gmail.com 宛にご連絡ください.
            p お客様が プライバシーに関する苦情を 当社に連絡した場合, 当該苦情は, 迅速かつ効果的な 手段で問題解決を 図るべく精査されます.    