extends layouts/main_jp

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="/img/join-img.jpg")
        .main--image__text
            h1 
                span JOIN
            p 会員登録 ページです
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Join
    .signup--form
        .form__header
            h2 会員登録
            p 
                span *
                | は 必須入力項目です.
        form(action="/signup/jp", method="post", id="js-signupForm")
            .basic-info
                h3 必須情報
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="email")
                                | アイディー(email)
                                span *
                        .basic-info__input
                            input(type="email", name="email", id="email", placeholder="Email")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password1")
                                | パスワード
                                span *
                        .basic-info__input
                            input(type="password", name="password" id="password1" placeholder="8字以上 入力してください.")
                            p#js-pwLengthCheck 
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password2")
                                | 暗証番号の 確認
                                span *
                        .basic-info__input
                            input(type="password", name="password2" id="password2")
                            p#js-pwVerified 
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="name")
                                | 名前
                                span *
                        .basic-info__input
                            input(type="text", name="name", id="name")
                            p#js-nickVerified
            .add-info
                h3 追加情報
                .add-info__data
                    .add-info__wrapper
                        .add-info__label
                            label(for="birthDate") 生年月日
                        .add-info__input
                            input(type="text", name="birthDate", id="birthDate", placeholder="yyyymmdd")
                    .add-info__wrapper
                        .add-info__label
                            label(for="sex") 性別
                        .add-info__input--radio
                            input(type="radio", name="sex", id="man" value="M")
                            label(for="man") 男
                            input(type="radio", name="sex",id="woman", value="F")
                            label(for="woman") 女
                    .add-info__wrapper
                        .add-info__label
                            label(for="country") 国及 び 都市
                        .add-info__input
                            input(type="text", name="country", id="country")
                    .add-info__wrapper
                        .add-info__label
                            label(for="address1") 基本 アドレス 
                        .add-info__input
                            input(type="text", name="address1", id="address1")
                    .add-info__wrapper
                        .add-info__label
                            label(for="address2") 詳細 アドレス
                        .add-info__input
                            input(type="text", name="address2", id="address2")
                    .add-info__wrapper
                        .add-info__label
                            label(for="postalCode") 郵便番号 
                        .add-info__input
                            input(type="text", name="postalCode", id="postalCode")
                    .add-info__wrapper
                        .add-info__label
                            label(for="height") 身長(cm) 
                        .add-info__input
                            input(type="text", name="height", id="height")
                    .add-info__wrapper
                        .add-info__label
                            label(for="weight") 体重(kg) 
                        .add-info__input
                            input(type="text", name="weight", id="weight")
                    .add-info__wrapper
                        .add-info__label
                            label(for="job") 職業
                        .add-info__input
                            input(type="text", name="job", id="job")
            .terms
                .terms__wrapper
                    .terms__link
                        a(href="#") サービス 利用約款
                    .terms__check
                        input(type="checkbox", name="use", id="use")
                        label(for="use", id="js-useLabel") 利用約款に 同意します.(必須)
                .terms__wrapper
                    .terms__link
                        a(href="#") 個人情報の 収集およ び 利用同意内容
                    .terms__check
                        input(type="checkbox", name="privacy", id="privacy")
                        label(for="privacy", id="js-privacy") 個人情報の収集およ び 利用に同意します.(必須)    
            .submit-info 
                input.submit--Btn(type="submit", value="Signup")
