extends layouts/main

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="img/join-img.jpg")
        .main--image__text
            h1 
                span JOIN
            p 회원가입 페이지입니다.
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Join
    .signup--form
        .form__header
            h2 회원가입
            p 
                span *
                | 표시는 필수입력항목입니다.
        form(action="/signup", method="post", id="js-signupForm")
            .basic-info
                h3 기본정보
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="email")
                                | 아이디(email)
                                span *
                        .basic-info__input
                            input(type="email", name="email", id="email", placeholder="Email")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password")
                                | 비밀번호
                                span *
                        .basic-info__input
                            input(type="password", name="password1" id="password1")
                            p#js-pwLengthCheck 
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password2")
                                | 비밀번호 확인
                                span *
                        .basic-info__input
                            input(type="password", name="password2" id="password2")
                            p#js-pwVerified 
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="name")
                                | 이름
                                span *
                        .basic-info__input
                            input(type="text", name="name", id="name")
                            p#js-nickVerified
            .add-info
                h3 추가정보
                .add-info__data
                    .add-info__wrapper
                        .add-info__label
                            label(for="birthDate") 생년월일
                        .add-info__input
                            input(type="text", name="birthDate", id="birthDate", placeholder="yyyymmdd")
                    .add-info__wrapper
                        .add-info__label
                            label(for="sex") 성별
                        .add-info__input--radio
                            input(type="radio", name="sex", id="man" value="M")
                            label(for="man") 남자 
                            input(type="radio", name="sex",id="woman", value="F")
                            label(for="woman") 여자
                    .add-info__wrapper
                        .add-info__label
                            label(for="country") 나라 및 도시 
                        .add-info__input
                            input(type="text", name="country", id="country")
                    .add-info__wrapper
                        .add-info__label
                            label(for="address1") 기본주소 
                        .add-info__input
                            input(type="text", name="address1", id="address1")
                    .add-info__wrapper
                        .add-info__label
                            label(for="address2") 상세주소 
                        .add-info__input
                            input(type="text", name="address2", id="address2")
                    .add-info__wrapper
                        .add-info__label
                            label(for="postalCode") 우편번호 
                        .add-info__input
                            input(type="text", name="postalCode", id="postalCode")
                    .add-info__wrapper
                        .add-info__label
                            label(for="height") 키(cm) 
                        .add-info__input
                            input(type="text", name="height", id="height")
                    .add-info__wrapper
                        .add-info__label
                            label(for="weight") 몸무게(kg) 
                        .add-info__input
                            input(type="text", name="weight", id="weight")
                    .add-info__wrapper
                        .add-info__label
                            label(for="job") 직업
                        .add-info__input
                            input(type="text", name="job", id="job")
            .terms
                .terms__wrapper
                    .terms__link
                        a(href="#") 서비스 이용약관
                    .terms__check
                        input(type="checkbox", name="use", id="use")
                        label(for="use", id="js-useLabel") 이용약관에 동의합니다.(필수)
                .terms__wrapper
                    .terms__link
                        a(href="#") 개인정보 수집 및 이용 동의 내용
                    .terms__check
                        input(type="checkbox", name="privacy", id="privacy")
                        label(for="privacy", id="js-privacy") 개인정보 수집 및 이용에 동의합니다.(필수)    
            .submit-info 
                input.submit--Btn(type="submit", value="회원가입")
