extends layouts/main

block content
    if errorMessage
        .error--message #{errorMessage}
    .main--image
        img(src="/img/join-img.jpg")
        .main--image__text
            h1 
                span JOIN
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Join
    .signup--form
        .form__header
            h2 Signup
            p 
                span *
                | is required information.
        form(action="/signup", method="post", id="js-signupForm")
            .basic-info
                h3 required information
                .basic-info__data
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="email")
                                | ID(email)
                                span *
                        .basic-info__input
                            input(type="email", name="email", id="email", placeholder="Email")
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password1")
                                | Password
                                span *
                        .basic-info__input
                            input(type="password", name="password" id="password1" placeholder="at least 8 characters.")
                            p#js-pwLengthCheck 
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="password2")
                                | Password Check
                                span *
                        .basic-info__input
                            input(type="password", name="password2" id="password2")
                            p#js-pwVerified 
                    .basic-info__wrapper
                        .basic-info__label
                            label(for="name")
                                | Name
                                span *
                        .basic-info__input
                            input(type="text", name="name", id="name")
                            p#js-nickVerified
            .add-info
                h3 Additional Information
                .add-info__data
                    .add-info__wrapper
                        .add-info__label
                            label(for="birthDate") Date of Birth
                        .add-info__input
                            input(type="text", name="birthDate", id="birthDate", placeholder="yyyymmdd")
                    .add-info__wrapper
                        .add-info__label
                            label(for="sex") Gender
                        .add-info__input--radio
                            input(type="radio", name="sex", id="man" value="M")
                            label(for="man") Man
                            input(type="radio", name="sex",id="woman", value="F")
                            label(for="woman") Woman
                    .add-info__wrapper
                        .add-info__label
                            label(for="country") Country or City
                        .add-info__input
                            input(type="text", name="country", id="country")
                    .add-info__wrapper
                        .add-info__label
                            label(for="address1") Address 1 
                        .add-info__input
                            input(type="text", name="address1", id="address1")
                    .add-info__wrapper
                        .add-info__label
                            label(for="address2") Address 2 
                        .add-info__input
                            input(type="text", name="address2", id="address2")
                    .add-info__wrapper
                        .add-info__label
                            label(for="postalCode") Postal Code 
                        .add-info__input
                            input(type="text", name="postalCode", id="postalCode")
                    .add-info__wrapper
                        .add-info__label
                            label(for="height") Height(cm) 
                        .add-info__input
                            input(type="text", name="height", id="height")
                    .add-info__wrapper
                        .add-info__label
                            label(for="weight") Weight(kg) 
                        .add-info__input
                            input(type="text", name="weight", id="weight")
                    .add-info__wrapper
                        .add-info__label
                            label(for="job") Job
                        .add-info__input
                            input(type="text", name="job", id="job")
            .terms
                .terms__wrapper
                    .terms__link
                        a(href=routes.termOfUse, target="_blank") Terms of service
                    .terms__check
                        input(type="checkbox", name="use", id="use")
                        label(for="use", id="js-useLabel") agree to the terms and conditions.(required)
                .terms__wrapper
                    .terms__link
                        a(href=routes.privacy, target="_blank") Personal Information Collection and Usage Agreement
                    .terms__check
                        input(type="checkbox", name="privacy", id="privacy")
                        label(for="privacy", id="js-privacy") agree to the use of personal information.(required)    
            .submit-info 
                input.submit--Btn(type="submit", value="Signup")
