extends layouts/main

block content
    .main--image--right
        img(src="/img/store/store-img.jpg", alt="")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store 
    .store--list
        .store--list__item
            h3.item--header FAVE 350
            .img--wrapper
                img(src="/img/store/350-pink-top.jpg", alt="fave 350 top")
            .item--header__middle
                h4.middle--headers Width and Length are 350mm
                h4.middle--headers FAVE 350
            p.item--para
                | The narrow ground plane and
                | high ground height make it ideal
                | for athletes.
            a(href=`/store${routes.fave350}`)
                .item--btn
                    span.item--btn__text Shop now
        .store--list__item
            h3.item--header FAVE 450
            .img--wrapper
                img(src="/img/store/450-green-top.jpg", alt="fave 450 top")
            .item--header__middle
                h4.middle--headers Width and Length 450mm
                h4.middle--headers FAVE 450
            p.item--para
                | The wide ground plane and low ground height
                | make it safe to use, reducing the risk of injury.
                | Great for use by the general public and children.
                | It can be used for women and the elderly.
            a(href=`/store${routes.fave450}`)
                .item--btn
                    span.item--btn__text Shop now