extends layouts/main_kr

block content
    .main--image--right
        img(src="/img/store/store-img.jpg", alt="")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store 
    .store--list
        .store--list__item
            h3.item--header FAVE 350
            .img--wrapper
                img(src="/img/store/350-pink-top.jpg", alt="fave 350 top")
            .item--header__middle
                h4.middle--headers 가로 세로의 길이가 350mm인
                h4.middle--headers FAVE 350
            p.item--para
                | 접지면이 좁고 지면 높이가 높아서
                | 전문선수 및 운동 숙련자들이 사용하기
                | 좋습니다.
            a(href=`/store${routes.fave350_kr}`)
                .item--btn
                    span.item--btn__text 구매하기
        .store--list__item
            h3.item--header FAVE 450
            .img--wrapper
                img(src="/img/store/450-green-top.jpg", alt="fave 450 top")
            .item--header__middle
                h4.middle--headers 가로 세로의 길이가 450mm인
                h4.middle--headers FAVE 450
            p.item--para
                | 접지면이 넓고 지면에서의 높이가 낮아 안전하게
                | 사용 가능하여 부상의 위험이 적습니다.
                | 일반인 및 어린이들이 사용하기 좋습니다.
                | 여성분들과 노인들 까지도 다양하게 사용이 가능합니다.
            a(href=`/store${routes.fave450_kr}`)
                .item--btn
                    span.item--btn__text 구매하기 
    .shipping--policy
        h2 배송정책
        .policy--wrapper
            .policy--header
                h3 배송안내
            .policy--para.align
                ol
                    li 배송 방법 : 
                    li 택배
                ol
                    li 배송 지역 :
                    li 전국
                ol
                    li 배송 비용 :
                    li 조건부 무료
                ol
                    li 배송 기간 :
                    li 결제 확인 후 7일 이내 배송
                ol 
                    li 반품 배송비:
                    li 환불교환정책 참고
        .policy--wrapper
            .policy--header
                h3 환불교환정책
                p (교환 및 환불은 수령 후 7일 이내로만 가능합니다.)
            .policy--para
                h4 교환 및 반품이 불가능한 경우 :
                ol
                    li - 고객님의 단순변심으로 인한 교환/반품
                    li - 고객님의 책임 있는 사유로 상품 등의 가치가 심하게 파손되거나 훼손, 일부 분실된 경우, 상품들이 멸실 또는 훼손된 경우
                    li - 반송된 상품이 손상이 되어 있는 경우(오염, 체취, 향수, 세탁 및 용품사용 흔적이 있는 경우)
                    li - 고객님의 사용에 의하여 상품 등의 가치가 현저히 감소된 경우
                    li - 시간이 경과되어 재판매가 곤란할 정도로 상품의 가치가 상실된 경우
                    li - 반송시일이 지난 경우(제품을 받으시고 7일 이내 교환 및 환불 가능)
                    li - 제품 및 센서의 라벨이 떨어진 경우(상품의 포장 등을 커팅 또는 분실, 훼손하신 경우)
                h4 착오구매 : 왕복배송비 본인부담
                h4 하자가 있는 제품을 받았을 시 : 착불