extends layouts/main_jp

block content
    .main--image--right
        img(src="/img/store/store-img.jpg")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store
    .store--list
        .store--list__item
            h3.item--header FAVE 350
            .img--wrapper
                img(src="/img/store/350-top.png")
            .item--header__middle
                h4.middle--headers 横と縦の 長さが 350mm
                h4.middle--headers FAVE 350
            p.item--para
                | 接地面が狭く, 地面からの 高さが高くて
                | 専門選手や 運動熟練者が 使いやすいです.
            .item--btn
                span.item--btn__text 13,500 JPY
        .store--list__item
            h3.item--header FAVE 450
            .img--wrapper
                img(src="/img/store/450-top.png")
            .item--header__middle
                h4.middle--headers 横と縦の 長さが 450mm
                h4.middle--headers FAVE 450
            p.item--para
                | 接地面が 広く, 地面からの高さが 低く 安全に
                | 使用できるため, 負傷の恐れは 少ないです.
                | 一般の人や お子様にも お使いいただけます.
                | 女性と お年寄りまで 多様に 使用できます.
            .item--btn
                span.item--btn__text 13,500 JPY 