extends layouts/main_kr

block content
    .main--image--right
        img(src="/img/store/store-img.jpg")
        .main--image__text
            h1
                span STO 
                | RE
    .current--nav
        ul
            li
                i.fas.fa-home
            li Home > Store 
    .store--list
        .store--list__item
            h3.item--header FAVE 350
            .img--wrapper
                img(src="/img/store/350-top.png")
            .item--header__middle
                h4.middle--headers 가로 세로의 길이가 350mm인
                h4.middle--headers FAVE 350
            p.item--para
                | 접지면이 좁고 지면 높이가 높아서
                | 전문선수 및 운동 숙련자들이 사용하기
                | 좋습니다.
            .item--btn
                span.item--btn__text 149,000 원
        .store--list__item
            h3.item--header FAVE 450
            .img--wrapper
                img(src="/img/store/450-top.png")
            .item--header__middle
                h4.middle--headers 가로 세로의 길이가 450mm인
                h4.middle--headers FAVE 450
            p.item--para
                | 접지면이 넓고 지면에서의 높이가 낮아 안전하게
                | 사용 가능하여 부상의 위험이 적습니다.
                | 일반인 및 어린이들이 사용하기 좋습니다.
                | 여성분들과 노인들 까지도 다양하게 사용이 가능합니다.
            .item--btn
                span.item--btn__text 149,000 원 