extends layouts/terms_jp

block content
    .condition__terms
        h1
            span FAVE
            |'s TERMS OF USE
        .condition__border-line
            p FAVEのプラットフォームを ご利用になる前に, 本利用規約 (「本規約」)を 注意深くお読みください.
            p
                | お客様が以下の国にお住いの場合, 追加の条項が適用されます. 
                | 追加の条項は, 本規約の末尾に記載されています. 適用される場合, 本規約において当該国を 表示します. 追加条項と本規約と矛盾する場合, 追加条項が優先して 適用されます.
            p
                | FAVEのコミュニティへようこそ! お客様に本規約を ご覧頂いているのは, お客様がFAVE・ウェブサイト, デジタルエクスペリエンス, ソーシャルメディアプラットフォーム,
                | モバイル用アプリケーション, ウェアラブルテクノロジー又は その他の当社製品若しくは サービスなどの FAVEのプラットフォーム(「本プラットフォーム」)を 
                | ご利用になられようとされているためです. お客様は, コンピュータ, 携帯電話, タブレット, コンソール, その他のデバイス(「デバイス」)を
                | 使用して本プラットフォームにアクセスすることができます.
            p 本規約は, お客様と FAVE又はその関連会社(総称して「FAVE」又は「当社」) との間の法的拘束力を 有する契約を成立させるものです.
            ul
                li
                    | 本規約の変更 管轄地域によっては, 消費者との約款を 一方的に更新又は変更することが 許されていない場合が あります. その場合, 
                    | 本項は適用されません. FAVEは, 適宜本規約を 更新することが できます. 万一重大な変更が生じる場合には, FAVEは 本プラットフォーム上にその旨掲載するか又は
                    | お客様に通知します. 変更内容を ご精読頂き, ご同意されない方は, 本プラットフォームのご利用を 中止ください.
                    | FAVEによる 変更内容の掲載又は 通知後にお客様が 本プラットフォームを ご利用になると, 改訂された本規約を お客様が承認されたものとみなされます. 
                    | 但し, 適用法令により禁止されている場合を 除きます.
                li 販売規約 FAVEでの購入には, お客様の国又は 地域に適用される 販売規約 (特定商取引法に基づく表示 / 販売規約)が 適用されることに, お客様は同意します.
                li プライバシーポリシー FAVEの プライバシーポリシーは 本プラットフォーム上の個人情報の収集及び 利用について規定され, お客様の本プラットフォームの利用に適用されます.
            h3 1. 基本ルール
            p
                | 資格と登録 お客様は, お客様が ご利用になる国で 成年に 達している場合又は お客様の親若しくはその他の保護者の同意が ある場合に限り, 
                | 本プラットフォームを ご利用できます. 国によっては, 本プラットフォームの特定のサービスのご利用には それぞれ一定の年齢制限が ある場合が あります.
            p 登録のルール : お客様が FAVEに登録される場合, 以下のルールが適用されます.
            ul
                li 正確に : 正確かつ現時点での情報を 登録してください。
                li
                    | ご自身で : お客様個人の登録を してください. 複数のFAVEアカウントを 登録することは できません. また, 他の方のために 登録することや, 
                    | お客様のアカウントを 譲渡することはできません.
                li
                    | 安全に : お客様のユーザーネーム, パスワード及び その他のログインのために必要な 認証情報を 安全に保管ください.
                    | お客様のユーザーアカウントを 他人に利用させては いけません.
                li
                    | 責任をもって : お客様のFAVE アカウントについて不正利用を 発見した場合には, 直ちに FAVEにお知らせください. お客様が承認した場合で
                    | あってもそうでは ない場合であっても. ご自身のFAVE アカウントに 生じるいかなる事項についても, お客様にて責任を 負って頂きます.
                    | 適用される法令上最大限許容される範囲で, お客様のユーザーアカウントの不正使用の結果 生じた損害又は 行為について FAVEは 責任を 負いません.
            h3 2. コンテンツの帰属
            p
                | 利用者生成 コンテンツ(以下に定義すること)の他の文字及び 他社が 制作したソフトウェア, スクリプト, コードを 除いたソフトウェア, スクリプト, コードとデザイン,
                | グラフィック, 写真, 音響, 音楽, ビデオ, アプリケーション, 相互作用機能, 記事, ニュース・ストーリー, スケッチ, アニメ, ステッカー,
                | 一般作品他のコンテンツを 含めた当社 プラットフォームのコンテンツ(以下"コンテンツ")は FAVE又は 当社にライセンスを 付与した主体に帰属され,
                | 著作権, 商標権, 特許その他諸般の関連法律によって 保護されます. FAVEは 本約款に 明示されて いないすべての権利についても, 権利を 留保します.
            ul
                li
                    | すべての商標, サービスマークおよび商品名(例えば、「FAVE "商品名と FAVEデザイン)は, FAVEに帰属, 登録, および / または ライセンスが
                    | 付与されています. あなたは, プラットフォームやコンテンツへのアクセスまたは 利用を介しての商標, サービスマーク, または
                    | 商号に対するいかなる ライセンスなどいかなる権利を 取得していません.
                li お客様は, 本プラットフォームから ダウンロード又は 印刷された素材に 記載された権利帰属に関する 表示を 変更又は 消去することは できません.
                li
                    | 著作権又は 著作物で 構成される 本コンテンツのダウンロード又は 使用について FAVEが 承諾する範囲で, FAVEは, お客様に対し, お客様個人に限定して, 譲渡不可,
                    | サブライセンス不可, いつでも取消可能な かかる著作権又は 著作物にアクセスし, 使用する権利を, お客様の個人使用目的に限り, かつ FAVEが
                    | かかる本コンテンツを パブリックに公開している限りで, 付与します. お客様は, 本コンテンツに 関するいかなる 所有権
                    | (本コンテンツの商標権, その他の知的財産権を 含みます.) も取得するものでは ありません. FAVEは, お客様の本コンテンツの使用のモニター,
                    | 及びこのライセンス又は お客様の本コンテンツの利用の変更又は 取消しを, いつ, いかなる理由でも 行う権利を 留保します.
                    | FAVEは, 本規約の違反又は FAVEの知的財産権の侵害に より 本コンテンツを 削除する権利を 留保します. FAVEのお客様に 対するここに 定める限定的な 使用の許可は,
                    | 本コンテンツに関するFAVEのいかなる 権利の放棄も意味しません.
                li
                    | 本プラットフォームに関して FAVEが お客様に付与した 特定の利用についての権利の範囲外で, お客様は, FAVEの事前の書面に よる承諾なく,
                    | いかなる本コンテンツも, 使用, 複製, 編集, 翻案・翻訳, 展示, 頒布, ダウンロード, 送信, 販売・譲渡, 二次的著作物の作成,
                    | その他の利用を 行うことはできません. この禁止対象には, 本ユーザーコンテンツも含みます(但し,
                    | お客様が 本プラットフォーム 上に掲載する 法的権利を 有している お客様自身の本ユーザーコンテンツを 除きます.).
                    | 本コンテンツの無断使用は 著作権, 商標権 その他の知的財産権の侵害を 構成し, お客様の刑事上又は 私法上の処罰, 賠償の対象と なります.
            h3 3. 本プラットフォーム上に投稿されたコンテンツ
            p
                | ユーザー 生成コンテンツに 対するライセンス 一部のプラットフォームは, 貴下が写真, ビデオ, 書き込みな どのその他のコンテンツ(以下 「利用者生成コンテンツ」 )を
                | 掲示できるように します. 他人が プラットフォームに掲示したユーザー 生成コンテンツに対して FAVEは いかなる 責任も負担しません. 
                | 利用者生成コンテンツは, 貴下又はコンテンツを 生成した者の所有や, 貴下が 利用者生成コンテンツを 掲示する際には, 貴下は以下のような内容のライセンスを
                | FAVEに 付与するものとみなします.
            ul
                li
                    | お客様は, お客様が 本ユーザーコンテンツを 投稿・掲載する権利を 有している ことを 表明し, お客様は, お客様が
                    | 本プラットフォーム 上に投稿・掲載した 本ユーザーコンテンツ又は 本プラットフォームに 関連する 本ユーザーコンテンツについて, FAVEに対し, 非独占的, 永久,
                    | 譲渡可能, サブライセンス可能, 無償の全世界にて 使用する権利を 付与します. この使用権には, 本ユーザーコンテンツに 含まれる人物の肖像,
                    | 又は 本ユーザーコンテンツに 含まれるコンセプト 若しくは アイディアも含まれ, 営利目的を 含むいかなる目的でも 使用することができます.
                    | また, 翻案・翻訳, 展示・表示, 再製, 改変, 二次的著作物の作成, サブライセンス, 頒布又は譲渡・移転する権利が 含まれます. FAVEは, 自己の裁量で,
                    | いつでも本ユーザーコンテンツを 削除することが できます.
                li
                    | お客様は, お客様の本ユーザーコンテンツが 公開・掲載されている限り, 又は 本ユーザーコンテンツを 共有した第三者が それを 削除しない限り,
                    | 本ユーザーコンテンツは 削除された後も FAVEのシステム又は 本プラットフォーム 上に維持される ことについて了解します. 但し,
                    | お客様又は 関連する 個人が 適用法令に 則り個人データの削除又は ブロックを 要求した場合はこの限りでは ありません.
                li
                    | コメント, フィードバック及び アイディアの使用に 関するライセンス お客様は, お客様が FAVEに 送付されたコメント, フィードバック,
                    | 又は アイディアが 非機密として提供されることを 了解し, お客様は FAVEに対し, 半永久, 全世界にて, お客様が FAVEに提供した全てのコメント,
                    | フィードバック及びアイディアを 使用する 権利を 付与します. この使用権の付与は, 特別の通知を 要することなく, お客様の了解通知も不要であり,
                    | 無償とし, いかなる目的でも 利用することが できます. これには, 製品又は サービスの開発, 製造又は マーケティングのため, 製品又は サービスを 創作し,
                    | 改変し, 又は 機能向上のため等を 含みますが これらに限られません.
            h3 4. ユーザーの遵守事項
            p お客様が FAVEのコミュニティに 参加・貢献してく れることを 大変嬉しく思います. お客様は 参加にあたり, 以下の基本ルールを 遵守して頂く 必要があります.
            ul
                li
                    | 権限のある掲示物だけ掲示してください. 貴下の利用者生成コンテンツに 表示されたり, 言及された個人からの許諾など,
                    | 当該利用者生成コンテンツの提供に 必要な すべての承認と権利が ある場合にのみ, プラットフォームに 利用者生成コンテンツを 掲示してください.
                li  セキュリティに 留意してください.
                li
                    | FAVEまたは その利用者を 危険にさらすことが できる 行為を しないでください. 上記のようなリ スクには, プラットフォームを 制限したり,
                    | 毀損したり, 壊したり, 操作したり, 過負荷を 発生させたり, プラットフォームの機能を 制限することが 含まれます.
                li
                    | ソフトウェアウイルス, プログラム, または その他のコンピュータコードを 含む、, 利用者生成コンテンツを 投稿しては ならず,
                    | プラットフォームソフトウェアまたは セキュリティ技術を 迂回したり, 変更しては ならないです.
                li データマイニング, ロボット(robots), スクレイピング(scraping), またはこれと類似したデータ収集技術を 利用しないでください.
                li 当社が 異なり 表示がない限り, 当社のプラットフォームは, 公共空間です. あなたや他の人の個人情報を プラットフォームに 公開しないでください.
                li 個人的な 用途で 使用してください.
                li プラットフォームに広告, 勧誘, または 商業的コンテンツを 投稿したり, プラットフォームから 商業活動を 行う対価を 第三者から支給されないでください.
                li 他のプラットフォームの利用者の個人情報を 収集または 要求したり, 要求していないメッセージを 送信しないでください.
                li 本プラットフォームと 相互通信するための自動化技術を 使用しないで ください.
                li
                    | 適切に行動してください. コミュニティを 尊重し, 他のウェブサイトへのリンク, 違法, 虚偽, 偽計, 嫌がらせ, 不正確, 差別, その他の不快,
                    | 不適切又は 法令に反する行為を 行ってはいけません. FAVEは, 本ユーザーコンテンツの事前のチェック, モニター, 又は削除する 権利を 有します.
                    | 但し, FAVEは, これらを 行わなければなら ない 義務は 負いません.
                li 他人を 詐称し ないでください. FAVE職員など, 他人または 他の機関を 詐称しないでください.
                li 楽しく お使いください!
            h3 5. 著作権侵害
            p
                | 不当な主張は 刑事罰の対象となることが あることから, FAVEの著作権担当者に対して 通知される前に, 法律専門家にご相談される ことを お勧めします. 
                | FAVEは, 第三者の著作権を 侵害することが 判明した 本プラットフォームのユーザーのアカウントを 終了できる ものとします.
            p もし お客様が 本プラットフォームに お客様の作品が 不適切に複製されていること, 例えば 著作権の侵害等を 発見された場合, 以下の全ての情報を FAVEに お知らせください.
            ol
                li 著作権者又は 著作権者を 代理する権限を 有している者の氏名, 住所, 電話番号, 電子メールアドレス及び 電子署名又は自署.
                li お客様が 侵害されたと主張される 著作物の内容.
                li お客様が 侵害されたと主張される コンテンツが 存在して いる 本プラットフォーム上の場所.
                li お客様が 侵害行為と主張する 使用行為が 著作権者又は その代理人によって許諾されていない又は 法令によって許容されていないと お客様が信じる旨を 表明した陳述書.
                li
                    | (適用される 法令に よっては)偽りの場合には 偽証の責任を 負うことになることを 理解した上で, 上述の情報が 正確で ある旨及び お客様が
                    | 著作権者又は 著作権者の正当な 代理人である旨の陳述.
            p 著作権侵害の申立ては, 以下宛にお送りください.
            p 住所 : プサングァンヨクシ　ヘウンデグ　セントムドンノ　45
            p 電話番号 : +82–51–746-9888
            p Eメール : fave188170@gmail.com
            h3 6. 本プラットフォーム上のパートナー
            p
                | FAVEは, 適宜, 第三者が 運営するウェブサイト, ソーシャルメディアプラットフォーム, モバイル用アプリケーション その他の製品やサービス(「サードパーティー」)
                | とリンクしたり, パートナー協業を したりすることが あります. お客様は, 本プラットフォームを 通じて, サードパーティーに 接続することが 可能と なります.
                | しかし, FAVEが これらのサードパーティーを 推奨, モニター, その他の管理を 行うものではなく, これらのサードパーティーには 独立した
                | 利用規約と プライバシーポリシーが 適用されます. お客様は 自己の責任で 慎重に サードパーティーのサイト並びに その利用規約及び プライバシーポリシーを
                | レビューしなければなりません. FAVEは, 第三者のコンテンツ, 政策又は 活動に対して責任を 負担するものではなく, 貴殿は 貴殿の危険負担として 第三者と交流することに なります.
            h3 7. 重要な免責事項
            p
                | 身体活動 本プラットフォームでは お客様の身体活動, 栄養, 健康一般を 促進するための機能が 提供されることが あります. これらは,
                | あくまでも お客様に 対する 情報提供目的のためだけのものであり, 医学的アドバイス若しくは サービスの目的, 又は処方若しくは 医療処置目的で 提供されるものでは ありません.
            ul
                li 運動・身体活動を 開始される前に, 必ず, 運動・身体活動に 関わるリスクを 考慮し, 医療専門家と 相談して ください.
                li 本プラットフォーム上で 閲覧した 情報を 鵜呑みにせず, 医療専門家のアドバイスを 軽視することなく, 遅滞なく 相談してください.
                li 適用法律が 許容する 最大限度において, FAVEは 貴下のプラットフォームの内容を 利用または 利用で きないことにより 貴下に 発生した負傷または 被害に対して 責任を 負いません.
                li
                    | ユーザーとの交流 適用法令に より 最大限許容される限り, FAVEは, 本プラットフォーム上で お客様が 他のユーザーとの交流を もったことに関して,
                    | いかなる責任も負わず, かかる交流に より お客様が 被った損害その他の被害について, いかなる責任も負いません.
                li
                    | プラットフォームの他の利用者(あなたが 知らない 利用者を 含む)との相互作用するために 責任を 感じて 注意する必要が あります.
                    | あなたが 他の人に会う前に調査し, 友人を 連れて行き, 公共の場を 選択あなたが 位置を 他の人に知らせることを 考慮してください. FAVEは,
                    | 利用者間の紛争に ついて介入する 義務はないが, 独自の判断で, その紛争に 介入することは 可能です.
                li 保証に関する 責任制限  いくつかの管轄地域では, 責任の制限又は 免除, 法的保証及び 救済に ついて許容されないことがあり, その結果, 以下の制限が 適用されないことが あります.
                li
                    | 本プラットフォーム上の本プラットフォーム, 本コンテンツ及び 材料及び 製品は, 「現状有姿(無保証)」 で提供されます. FAVEは, 本プラットフォームの正確性,
                    | 妥当性, 有用性, 信頼性など, いかなる約束, 保証もいたしません. 適用法令で 認められる最大限の範囲において, FAVEは, 本プラットフォームに
                    | 投稿・掲載された本ユーザーコンテンツに 対するいかなる 責任も負いません.
                li FAVEは, 本プラットフォームが 中断されず, 誤りがないこと, 欠陥が修正されること, 又は 本プラットフォームにウイルス又は その他の有害物がないことを 保証 しません.
                li
                    | 適用法令で 認められる 最大限の範囲において, FAVEは, 本プラットフォーム, 本コンテンツ, 本ユーザーコンテンツ及び 本プラットフォームを
                    | 通じて 取得又は アクセスできる 製品又はサービスに関する 全ての明示又は 黙示の保証から 免責されます. この免責対象には, 権原, 商品性,
                    | 特定目的への適合性及び 非侵害性の黙示の保証が 含まれますが, これらに限定されません.
                li 本プラットフォームへのアクセスに 起因する お客様のデバイスの損害については, 適用法令で 別段の規定がない範囲に おいて, お客様が 単独で 責任を 負うものとします.
                li 本プラットフォームの恩恵を 十分に 享受して いただければ幸いですが, FAVEは, その成果を 保証するものでは ありません.
            h3 8. 終了
            p FAVEは, FAVEの本プラットフォーム, メンバープログラム, 製品又は サービスを, 通知なしに, いつでも終了又は 変更することが できます.
            p
                | FAVEは, 適用法令に従い, FAVEが 責任を 負うことなく, いつでも理由の如何を 問わず, お客様のアカウントを 終了又は 一時停止し, お客様のプロフィール又は
                | 本ユーザーコンテンツのいずれかを 削除し, 本プラットフォームの全部又は 一部の利用を 制限することが できます.
            ul
                li
                    | 適用される 法令によっては 本ユーザーコンテンツを 削除する権利が お客様に あることを 前提に, お客様は, お客様の本ユーザーコンテンツの一部,
                    | 特に 本プラットフォーム上のアクティビティフィード又は 他の公共の場所に 表示される本ユーザーコンテンツは, お客様のアカウントが 終了した後も,
                    | 公開され続けることが できることを 理解し, これに 同意するものとします.
                li 本規約は, お客様のアカウントが 終了又は お客様が 本プラットフォームの利用を 停止した 後も有効に存続します. 
            h3 9. 免責/責任制限
            p 当社は 貴下が プラットフォームを 楽しく 利用することを 願っています. しかし, FAVEは 貴下が もたらす恐れのある被害から 自分を 保護できなければなりません .
            p
                | 補償及び免責 管轄地域によっては, 責任, 法的保証及び 救済に関する 制限又は 免除が 許容されていないため, 以下の免責 / 責任制限は
                | お客様に 適用されない 場合が あります. お客様は, お客様の本ユーザーコンテンツ, お客様に よる 本コンテンツの使用, 本プラットフォームの利用,
                | お客様の本プラットフォーム若しくは その他の本プラットフォームのユーザーに 関連する行為, 又は本規約, 法令若しくは
                | 第三者の権利の違反に起因若しくは 関連する全ての請求, 損失, 責任, 経費, 損害及び費用(弁護士費用を 含みますが これらに限定されません.)
                | について, FAVE・インク(米国), その関連会社, 役員, 取締役, 従業員, 代理人, ライセンサー及び サプライヤー(「FAVE関連当事者」)を 補償し, 防御し,
                | 免責する ことに同意します. お客様は, お客様自身及び お客様の相続人, 遺産承継人, 保険者, 継承者及び 譲受人の代理として,
                | 本プラットフォームの利用に 関連して 生じる 損害について, FAVE関連当事者に 対する全ての請求又は 訴訟原因を, ここに, 完全にかつ永久に放棄し, 免除, 免責します.
            p
                | 責任制限 管轄地域によっては, 責任, 法的保証及び 救済に 関する 制限又は 免除が 許容されていないため, 以下の免責 / 責任制限は
                | お客様に 適用されない 場合が あります. FAVE関連当事者は, 本プラットフォームの利用若しくは 利用不可能, 本プラットフォームを 通して 購入された商品の性能,
                | 本プラットフォームのその他のユーザーの行動(オンラインかオフラインは 問いません), FAVEのイベント若しくは FAVEのパートナーのイベントへの参加,
                | 又は 本ユーザーコンテンツから 発生した 全ての直接損害, 特別損害, 付随的損害, 間接損害, 又は 派生的損害(逸失利益又は データの喪失を 含むが これらに限られない)
                | に対して, たとえ FAVEが そのような 損害が 発生する 可能性を 予め告げられていた場合であっても, 一切の賠償責任を 負いません. お客様は,
                | お客様ご自身による本プラットフォームのご 利用に 関し 全ての責任を 負います. 本プラットフォームや 本コンテンツのご 利用に関して, お客様が FAVEに対して
                | 講じうる唯一の救済手段は, 本プラットフォームのご 利用を 中止されることに限られます. いかなる 事由であれ, お客様による
                | 本プラットフォーム 又は 本コンテンツのご 利用に関連して 生じた損害又は 損失に関し, FAVEが お客様に 損害賠償責任を 負うとされた場合には,
                | FAVEに よる損害賠償の限度額は 100米ドル(お客様がヨーロッパに お住いの場合には 100ユーロ)を 超えないものとします.
            h3 10. アプリのマーケットプレイス
            p
                | お客様は, 本規約に 基づく 合意は お客様と FAVE間のみに 適用されるものであり, お客様が FAVEのアプリケーションを ダウンロードしたアプリのマーケットプレイス
                | (例えば, iOSユーザ ー向けのApple Inc.が 運営する App Store, 又は Androidユーザ ー向けのGoogle Inc.が 運営する Google Play Storeなど) との間には
                | 適用されないことを 了解します.
            h3 電子通信
            ul
                li お客様は, 本プラットフォームを 利用する ことにより, 適用法令に従い, FAVEから 一定の電子通信を 受領する ことに 同意します.
                li お客様は, FAVEが 電子的に お客様に 対し 送付する通知, 合意, 開示又は その他の通信は, かかる通信が 書面で 行われることを 含め, 法的な通知要件を 満たすことに 同意します.
            h3 譲渡権、権利放棄の不存在、可分性
            ul
                li
                    | FAVEは, 適用法令に より お客様に 対する 通知が 要求されない限り, 本規約に 基づく 権利及び 義務を, お客様に 通知する ことなく,
                    | いかなる 第三者に 対しいつでも 譲渡することが できます. かかる譲渡は, 本規約に 基づく お客様の権利又は FAVEの義務に 影響を 及ぼすものでは ありません.
                li
                    | FAVEが 本規約の厳格な履行を 強制しなかったとしても, 本規約又は FAVEの権利の放棄とは みなされません.
                    | お客様は, 常に 本規約が 適用されるものとしてご対応頂く 必要が あります.
                li 本規約のいずれかの規定が 無効又は 執行不能と 判断された場合で あっても, 本規約の残りの規定は 引き 続き 有効かつ執行可能な ものとされます.
            h3 国特有の条項
            p お客様が 次のいずれかの国に 居住される場合, これらの追加条件が 適用され, 以下の追加条件と矛盾する 本規約の条項は 適用されません.
            h3 日本
            p 9 (免責 / 責任制限) 本項は, 以下の内容に 修正されます.
            p サブセクション 「責任制限」 は, その全体が 削除され, 以下の内容に 置き換えられます.
            p
                | 「責任制限 FAVE関連当事者は, 本プラットフォームの利用若しくは 利用不可能, 本プラットフォームを 通して 購入された商品の性能,
                | 本プラットフォームのその他のユーザーの行動(オンラインかオフラインは 問いません), FAVEのイベント若しくは FAVEのパートナーのイベントへの参加, 又は
                | 本ユーザーコンテンツから 発生た全ての特別損害, 付随的損害, 間接損害, 又は 派生的損害(逸失利益又は データの喪失を 含むがこれらに限られない) に対して,
                | たとえ FAVEが そのような損害が 発生する 可能性を 予め告げられていた 場合であっても, 一切の賠償責任を 負いません. お客様は,
                | お客様ご自身に よる本プラットフォームのご利用に 関し 全ての責任を 負います. 本プラットフォームや本コンテンツのご 利用に 関して,
                | お客様が FAVEに対して 講じうる 唯一の救済手段は, 本プラットフォームのご利用を 中止される ことに 限られます. いかなる事由であれ,
                | お客様に よる本プラットフォーム又は 本コンテンツのご利用に 関連して 生じた損害又は 損失に関し, FAVEが お客様に 損害賠償責任を 負うとされた場合には,
                | FAVEに よる 損害賠償の限度額は 100米ドル (お客様が ヨーロッパに お住いの場合には 100ユーロ)を 超えないものとします.」
            h3 韓国
            p
                | 次の位置基盤サービス 提供者約款は, 貴下が FAVEトレーニングクラブアプリを 使用し, 接続する 際に 適用されます. 
                | 位置基盤サービス 提供者約款と本約款が 相反する 場合, 本約款が 優先されます.
            p 読んで いただき ありがとうございます. 当社のコミュニティを 楽し ませてご 利用ください!
                
