header.header-admin
    h1 FAVE_ADMIN
    .admin-nav
        if user
            ul
                li
                    a(href="/admin/notice") Notices
                li
                    a(href="/admin/game") Games
                li
                    a(href="/logout") Logout
        else
            ul
                li
                    a(href="/admin/notice") Notices
                li
                    a(href="/admin/game") Games
                li
                    a(href="/admin/login") Login
