header.header-admin
    h1 FAVE_ADMIN
    .admin-nav
        if user
            ul
                li
                    a(href="/admin/notice/1") 공지사항
                li
                    a(href=`/admin${routes.payments}`) 구매내역
                li
                    a(href=`/admin${routes.admin_review}`) 리뷰내역
                li
                    a(href="/admin/game") 게임
                li
                    a(href="/admin/logout") Logout
        else
            ul
                li
                    a(href="/admin/notice/1") 공지사항
                li
                    a(href="/admin/game") 게임
