footer.footer
    .footer__top
        .footer__row
            ul.footer__navi
                li
                    a(href=routes.company, title="Company") Company
                li
                    a(href=`/about${routes.character}`, title="Product") Product
                li
                    a(href="/notice/1", title="Customer Center") Customer Center
            ul.footer__icon
                li
                    a(href="https://www.facebook.com/FAVE.world/", title="FAVE.facebook", target="_blank")
                        i.fab.fa-facebook-square
                li
                    a(href="https://www.instagram.com/fave.world/", title="FAVE.instagram", target="_blank")
                        i.fab.fa-instagram
                li
                    a(href="https://twitter.com/57vt2EMECU3aBE8/", title="FAVE.twitter", target="_blank")
                        i.fab.fa-twitter
                li
                    a(href="https://www.youtube.com/channel/UC-JY5aiBe5M9wKhzKTI1OuA/featured", title="FAVE.youtube", target="_blank")
                        i.fab.fa-youtube        
    .footer__wrapper
        .footer__row 
            h4 StrongFriend Inc.
        .footer__row
            ul.footer-info
                li CEO Se-Don, Hwang
                li E-mail fave188170@gmail.com
        .footer__row
            span.footer__copyright Copyright &copy; #{new Date().getFullYear()} StrongFriend Inc. All rights Reserved.
            img(src="/img/logo-white.png")
