footer.footer
    .footer__top
        .footer__row
            ul.footer__navi
                li
                    a(href=routes.companyJp, title="Company") 会社紹介
                li
                    a(href=`/about${routes.character_jp}`, title="Product") 製品紹介
                li
                    a(href="/notice/1/jp", title="Customer Center") 顧客センター
            ul.footer__icon
                li
                    a(href="https://www.facebook.com/FAVE.world/", title="FAVE.facebook", target="_blank")
                        i.fab.fa-facebook-square
                li
                    a(href="https://www.instagram.com/fave.world/", title="FAVE.instagram", target="_blank")
                        i.fab.fa-instagram
                li
                    a(href="https://twitter.com/57vt2EMECU3aBE8/", title="FAVE.twitter", target="_blank")
                        i.fab.fa-twitter
                li
                    a(href="https://www.youtube.com/channel/UC-JY5aiBe5M9wKhzKTI1OuA/featured", title="FAVE.youtube", target="_blank")
                        i.fab.fa-youtube        
    .footer__wrapper    
        .footer__row 
            h4 (株)健康な友達
        .footer__row
            ul.footer-info
                li 代表 Se-Don, Hwang
                li Eメール fave188170@faves.co.kr
        .footer__row
            span.footer__copyright Copyright &copy; #{new Date().getFullYear()} (株)健康な友達 All rights Reserved.
            img(src="/img/logo-white.png")
