header.header
    .header
        .header__top
            span English
            span 
                i.fas.fa-caret-down
            ul
                li
                    a(href="/") English
                li
                    a(href="/kr") 한국어
                li
                    a(href="/jp") 日本語
        .header__bottom
            div
                img(src="img/logo.png")
                