header.header
    .header--wide
        .header__logo
            a(href="/")
                img(src="img/logo.png")
        nav.header__navi
            ul
                li
                    a(href="#") COMPANY
                li
                    a(href="#") ABOUT
                    ul
                        li
                            a(href="#") Fitness
                        li
                            a(href="#") Game
                        li
                            a(href="#") Character
                        li
                            a(href="#") Connection
                li
                    a(href="#") NOTICE
        .header__language
            span
                i.fas.fa-globe
            span English
            span 
                i.fas.fa-caret-down
            .header__language-list
                ul
                    li
                        a(href="/") English
                    li
                        a(href="/kr") 한국어
                    li
                        a(href="/jp") 日本語
    .header--narrow
        .header__logo--responsive#js--logoResponsive
            a(href="/")
                img(src="img/logo_responsive.png")
            span.header__icon#js--openSide
                i.fas.fa-bars
        .header__navi--side#js--sideNavi
            .header__logo--side
                .side--navi__header
                    img(src="img/logo_responsive.png")
                    span.header__icon#js--closeSide
                        i.fas.fa-times


                