.modal.hide-modal#js-modal
    .modal__overlay#js-overlay
    .modal__content
        .content__top
            span.top__closeBtn#js-closBtn
                i.fas.fa-times
        .content__img
            a(href="https://www.kickstarter.com/projects/fave-strong-friend/fave-high-efficiency-smart-home-trainer?ref=discovery&term=fave")
                img(src="/img/modal/modal-kr.png")
        .content__bottom
            label(for="ns-check") 오늘 하루 보지 않기
            input(type="checkbox", id="ns-check", value="modal")