@import "_variables";

.connection--wrapper {
  width: 100%;
  max-width: 1170px;
  padding: 15px;
  box-sizing: border-box;
  margin: 0 auto;
  .steps {
    margin-top: 30px;
    h2 {
      font-size: 60px;
      font-weight: 600;
      color: $font-gray;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 48px;
      }
      @include breakpoint(mobile) {
        font-size: 36px;
      }
    }
    p {
      text-align: center;
      font-size: 20px;
      margin: 8px;
      margin-bottom: 40px;
      @include breakpoint(tablet) {
        font-size: 18px;
      }
      @include breakpoint(mobile) {
        font-size: 16px;
      }
    }
    .steps__columns {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      @include breakpoint(tablet) {
        flex-direction: column;
        align-items: center;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
      }
      .steps__items {
        width: 40%;
        @include breakpoint(tablet) {
          width: 70%;
          &:nth-child(2) {
            margin-top: 18px;
          }
        }
        @include breakpoint(mobile) {
          width: 90%;
        }
        .steps__img {
          width: 100%;
          img {
            width: 100%;
          }
        }
        .steps__list {
          display: flex;
          align-items: center;
          margin-top: 18px;
          justify-content: center;
          li {
            &:first-child {
              color: blue;
              font-size: 24px;
              font-weight: 600;
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .injection {
    margin-top: 60px;
  }
}
.blue-print {
  width: 100%;
  max-width: 1170px;
  padding: 15px;
  font-size: 88px;
  font-weight: 700;
  text-align: right;
  color: $light-gray;
  box-sizing: border-box;
  @include breakpoint(tablet) {
    font-size: 50px;
  }
  @include breakpoint(mobile) {
    font-size: 36;
  }
}
