@import "_variables";

.movie {
  width: 100%;
  video {
    width: 100%;
  }
}
.main-wrapper {
  width: 100%;
  max-width: 1170px;
  padding: 15px;
  box-sizing: border-box;
  margin: 0 auto;
  .main__text {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    @include breakpoint(tablet) {
      margin-top: 35px;
      margin-bottom: 35px;
    }
    @include breakpoint(mobile) {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h2 {
      font-size: 40px;
      font-weight: 600;
      width: 70%;
      color: $font-gray;
      @include breakpoint(tablet) {
        font-size: 30px;
        width: 80%;
      }
      @include breakpoint(mobile) {
        font-size: 22px;
        width: 90%;
      }
      span {
        padding-top: 8px;
        padding-left: 8px;
        border-left: 7px solid $font-orange;
        border-top: 7px solid $font-orange;
        display: inline-block;
        @include breakpoint(tablet) {
          padding-top: 7px;
          padding-left: 7px;
          border-left: 6px solid $font-orange;
          border-top: 6px solid $font-orange;
        }
        @include breakpoint(mobile) {
          padding-top: 6px;
          padding-left: 6px;
          border-left: 5px solid $font-orange;
          border-top: 5px solid $font-orange;
        }
      }
    }
    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 1.6;
      width: 70%;
      &.text-gap {
        margin-top: 20px;
      }
      @include breakpoint(tablet) {
        font-size: 20px;
        width: 80%;
        &.text-gap {
          margin-top: 20px;
        }
      }
      @include breakpoint(mobile) {
        font-size: 18px;
        width: 90%;
        &.text-gap {
          margin-top: 20px;
        }
      }
    }
  }
  .main__links {
    width: 100%;
    .main__links__row {
      display: flex;
      justify-content: space-around;
      &:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
      }
      @include breakpoint(tablet) {
        flex-direction: column;
        align-items: center;
        &:nth-child(2) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      .image-wrapper {
        position: relative;
        width: 40%;
        overflow: hidden;
        cursor: pointer;
        flex: none;
        @include breakpoint(tablet) {
          width: 70%;
          &:nth-child(2) {
            margin-top: 18px;
            margin-bottom: 18px;
          }
        }
        @include breakpoint(mobile) {
          width: 90%;
          &:nth-child(2) {
            margin-top: 15px;
            margin-bottom: 15px;
          }
        }
        a {
          flex: none;
          display: inline-block;
          h3 {
            font-size: 36px;
            color: white;
            position: absolute;
            top: 24px;
            left: 24px;
            z-index: 2;
          }
          .image__item {
            border-radius: 24px;
            img {
              width: 100%;
              border-radius: 24px;
            }
          }
        }
        .gray-wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-color: #7d7d7d;
          opacity: 0.5;
          border-radius: 24px;
        }
        &:hover {
          .gray-wrapper {
            display: none;
          }
          a {
            h3 {
              color: $font-orange;
              transform: scale(1.1);
              transition: 0.2s;
            }
            .image__item {
              overflow: hidden;
              img {
                width: 100%;
                border-radius: 24px;
                transform: scale(1.1);
                transition: 0.2s;
              }
            }
          }
        }
      }
    }
  }
  .main__features {
    margin-top: 50px;
    @include breakpoint(tablet) {
      margin-top: 35px;
    }
    @include breakpoint(mobile) {
      margin-top: 30px;
    }
    .feature__columns {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
      @include breakpoint(tablet) {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
      }
      .feature__items {
        width: 30%;
        @include breakpoint(tablet) {
          width: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 16px;
          &.reversed--feature {
            flex-direction: row-reverse;
          }
        }
        @include breakpoint(mobile) {
          width: 85%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 14px;
        }
        .item__icon {
          display: flex;
          justify-content: center;
          span {
            display: inline-block;
            border: 3px solid $light-orange;
            padding: 15px;
            border-radius: 50%;
            img {
              width: 70px;
              height: 70px;
            }
          }
        }
        h4 {
          font-size: 18px;
          font-weight: 600;
          text-align: center;
          color: $font-gray;
          margin-top: 18px;
          @include breakpoint(tablet) {
            width: 60%;
            font-size: 17px;
            margin-top: 0;
          }
          @include breakpoint(mobile) {
            width: 70%;
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
    }
  }
}
.main__middle {
  width: 100%;
  display: flex;
  margin-top: 20px;
  @include breakpoint(tablet) {
    flex-direction: column;
    align-items: center;
  }
  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: center;
  }
  .middle__img {
    width: 40%;
    @include breakpoint(tablet) {
      width: 85%;
    }
    @include breakpoint(mobile) {
      width: 95%;
    }
    img {
      width: 100%;
    }
  }
  .middle__text {
    padding: 15px;
    box-sizing: border-box;
    width: 60%;
    background-color: #959595;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(tablet) {
      width: 85%;
    }
    @include breakpoint(mobile) {
      width: 95%;
    }
    h4 {
      font-size: 36px;
      font-weight: 600;
      color: white;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 28px;
      }
      @include breakpoint(mobile) {
        font-size: 22px;
      }
    }
    h3 {
      font-size: 48px;
      font-weight: 600;
      color: $light-gray;
      text-align: center;
      @include breakpoint(tablet) {
        font-size: 36px;
      }
      @include breakpoint(mobile) {
        font-size: 24px;
      }
    }
    h5 {
      font-size: 18px;
      font-weight: 500;
      color: white;
      text-align: center;
      margin-top: 20px;
      @include breakpoint(tablet) {
        font-size: 17px;
      }
      @include breakpoint(mobile) {
        font-size: 16px;
      }
    }
    p {
      font-size: 18px;
      color: white;
      text-align: center;
      line-height: 1.4;
      @include breakpoint(tablet) {
        font-size: 17px;
      }
      @include breakpoint(mobile) {
        font-size: 16px;
      }
    }
  }
}
