@import "_variables";

.purchase--page--wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 30px;
  box-sizing: border-box;
  padding: 15px;
  h2 {
    font-size: 32px;
    font-weight: 600;
    padding: 15px 10px;
    border-bottom: 2.5px solid $main-gray;
    @include breakpoint(tablet) {
      font-size: 26px;
      padding: 13px 8px;
    }
    @include breakpoint(mobile) {
      font-size: 20px;
      padding: 12px 7px;
    }
  }
  .purchase--item--wrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    justify-content: center;
    @include breakpoint(tablet) {
      flex-direction: column;
      align-items: center;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: center;
    }
    .item--block {
      width: 45%;
      padding: 5px;
      @include breakpoint(tablet) {
        width: 85%;
      }
      @include breakpoint(mobile) {
        width: 95%;
      }
      .img--wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
        }
      }
      .img--desc {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.3;
          width: 80%;
        }
      }
      .img--wrapper--small {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 80%;
        .small--img {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1.5px solid $background-gray;
          &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
          img {
            width: 70%;
            height: 70%;
          }
        }
        .choice {
          border: 1.5px solid black;
        }
      }
      form {
        background-color: $light-gray;
      }
      .option--wrapper {
        padding: 12px 8px;
        .label--text {
          font-size: 20px;
          font-weight: 600;
        }
        .option--detail {
          margin: 15px 0;
          .detail--product {
            display: flex;
            width: 95%;
            margin: 0 auto;
            border-bottom: 1px solid $main-gray;
            cursor: pointer;
            input#product {
              font-size: 22px;
              font-weight: 500;
              border: none;
              background-color: transparent;
              outline: none;
              padding: 4px 8px;
              flex: 1;
              @include breakpoint(tablet) {
                font-size: 20px;
              }
              @include breakpoint(mobile) {
                font-size: 18px;
              }
              cursor: pointer;
            }
            .option__icon {
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                i {
                  font-size: 26px;
                }
              }
            }
          }
          .color--select {
            width: 95%;
            margin: 0 auto;
            border-bottom: 1px solid $main-gray;
            position: relative;
            .select--selected {
              display: flex;
              cursor: pointer;
              li {
                font-size: 22px;
                font-weight: 500;
                @include breakpoint(tablet) {
                  font-size: 20px;
                }
                @include breakpoint(mobile) {
                  font-size: 18px;
                }
                &:first-child {
                  padding: 4px 8px;
                  flex: 1;
                }
                span {
                  i {
                    font-size: 26px;
                    @include breakpoint(tablet) {
                      font-size: 24px;
                    }
                    @include breakpoint(mobile) {
                      font-size: 22px;
                    }
                  }
                }
              }
            }
            .select--items {
              position: absolute;
              width: 100%;
              top: 100%;
              .select--item {
                font-size: 24px;
                @include breakpoint(tablet) {
                  font-size: 22px;
                }
                @include breakpoint(mobile) {
                  font-size: 20px;
                }
                padding: 8px 12px;
                background-color: $background-gray;
                color: white;
                border-bottom: 1px solid $main-gray;
                cursor: pointer;
                &:first-child {
                  border-top: 1px solid $main-gray;
                }
                &:hover {
                  background-color: $main-gray;
                }
              }
            }
            .select--hide {
              display: none;
            }
          }
          .product--items {
            width: 95%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid $main-gray;
            .product--text {
              flex: 1;
              p {
                font-size: 24px;
                @include breakpoint(tablet) {
                  font-size: 22px;
                }
                @include breakpoint(mobile) {
                  font-size: 20px;
                }
              }
            }
            .product--count {
              display: flex;
              input {
                width: 24px;
                @include breakpoint(tablet) {
                  font-size: 23px;
                }
                @include breakpoint(mobile) {
                  font-size: 22px;
                }
                padding: 2px 4px;
                text-align: center;
              }
              .icons {
                display: flex;
                align-items: center;
                ul {
                  li {
                    button {
                      i {
                        font-size: 9px;
                      }
                    }
                  }
                }
                .cancel--btn {
                  padding: 4px;
                  margin-left: 10px;
                  i {
                    font-size: 22px;
                  }
                }
              }
            }
          }
          .product--price {
            display: flex;
            width: 95%;
            justify-content: flex-end;
            ul {
              display: flex;
              align-items: center;
              li {
                font-size: 24px;
                @include breakpoint(tablet) {
                  font-size: 22px;
                }
                @include breakpoint(mobile) {
                  font-size: 20px;
                }
                input {
                  font-size: 24px;
                  @include breakpoint(tablet) {
                    font-size: 22px;
                  }
                  @include breakpoint(mobile) {
                    font-size: 20px;
                  }
                  background-color: transparent;
                  text-align: end;
                  margin-right: 10px;
                  border: none;
                  outline: none;
                }
              }
            }
          }
          .button--wrapper {
            width: 95%;
            display: flex;
            justify-content: flex-end;
            .button--border {
              width: 50%;
              display: flex;
              justify-content: flex-end;
              padding-top: 15px;
              border-top: 1.5px solid $main-gray;
              .purchase--button {
                background-color: $main-gray;
                border: none;
                padding: 8px 16px;
                font-size: 22px;
                color: white;
                cursor: pointer;
                width: 150px;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        @include breakpoint(tablet) {
          position: fixed;
          bottom: 0;
          height: 35%;
          width: 100%;
          form {
            height: 100%;
            overflow-y: scroll;
          }
        }
      }
    }
  }
  .purchase--tab {
    .purchase--detail {
      margin-top: 40px;
      @include breakpoint(tablet) {
        margin-top: 35px;
      }
      @include breakpoint(mobile) {
        margin-top: 30px;
      }
      .purchase--headers {
        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          font-size: 32px;
          font-weight: 600;
          color: $font-gray;
          display: inline-block;
          border-bottom: 2.5px solid $font-gray;
          margin: 20px 0;
          padding-bottom: 15px;
          @include breakpoint(tablet) {
            font-size: 27px;
            margin: 18px 0;
          }
          @include breakpoint(mobile) {
            font-size: 22px;
            margin: 16px 0;
          }
        }
      }
      .purchase--imgs {
        margin-top: 25px;
        margin-bottom: 25px;
        @include breakpoint(tablet) {
          margin-top: 23px;
          margin-bottom: 23px;
        }
        @include breakpoint(mobile) {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .detail--img {
          width: 70%;
          margin: 0 auto;
          @include breakpoint(tablet) {
            width: 80%;
          }
          @include breakpoint(mobile) {
            width: 90%;
          }
          img {
            width: 100%;
          }
          &:nth-child(2) {
            margin-top: 20px;
            @include breakpoint(tablet) {
              margin-top: 18px;
            }
            @include breakpoint(mobile) {
              margin-top: 16px;
            }
          }
        }
      }
      .purchase--desc {
        width: 60%;
        margin: 0 auto;
        @include breakpoint(tablet) {
          width: 80%;
        }
        @include breakpoint(mobile) {
          width: 90%;
        }
        p {
          font-size: 18px;
          line-height: 1.5;
          text-align: center;
          @include breakpoint(tablet) {
            font-size: 17px;
            line-height: 1.4;
          }
          @include breakpoint(mobile) {
            font-size: 16px;
            line-height: 1.3;
          }
        }
        .space {
          height: 18px;
        }
      }
    }
  }
  .purchase--spec {
    margin: 30px auto;
    display: flex;
    width: 70%;
    @include breakpoint(tablet) {
      width: 80%;
      flex-direction: column;
    }
    @include breakpoint(mobile) {
      width: 95%;
      flex-direction: column;
    }
    .spec--img {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakpoint(tablet) {
        width: 75%;
        margin: 0 auto;
      }
      @include breakpoint(mobile) {
        width: 80%;
        margin: 0 auto;
      }
      img {
        width: 85%;
      }
    }
    .spec--desc {
      width: 50%;
      @include breakpoint(tablet) {
        width: 83%;
        margin: 0 auto;
      }
      @include breakpoint(mobile) {
        width: 90%;
        margin: 0 auto;
      }
      h4 {
        font-size: 20px;
        font-weight: 600;
        padding: 12px 8px;
        border-bottom: 2px solid $font-gray;
        text-align: right;
        margin-bottom: 20px;
        @include breakpoint(tablet) {
          font-size: 19px;
        }
        @include breakpoint(mobile) {
          font-size: 18px;
        }
      }
      ul {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        li {
          font-size: 17px;
          color: $font-gray;
          @include breakpoint(tablet) {
            font-size: 16px;
          }
          @include breakpoint(mobile) {
            font-size: 15px;
          }
          &:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }
  .desc--accordion {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    @include breakpoint(tablet) {
      width: 80%;
      margin-top: 45px;
    }
    @include breakpoint(mobile) {
      width: 95%;
      margin-top: 40px;
    }
    .accordion__header {
      display: flex;
      border-bottom: 0.9px solid $font-gray;
      border-top: 0.9px solid $font-gray;
      box-shadow: 0 0 0 0 $font-gray, 0 0.9px 0 0 $font-gray,
        0 0 0 0 $font-gray inset, 0 0.9px 0 0 $font-gray inset;
      align-items: center;
      padding: 6px 9px;
      cursor: pointer;
      h3 {
        font-size: 24px;
        font-weight: bold;
        color: $font-gray;
        flex: 1;
        @include breakpoint(tablet) {
          font-size: 22px;
        }
        @include breakpoint(mobile) {
          font-size: 20px;
        }
      }
      .icons {
        span {
          i {
            font-size: 28px;
            color: $font-gray;
            @include breakpoint(tablet) {
              font-size: 26px;
            }
            @include breakpoint(mobile) {
              font-size: 24px;
            }
          }
        }
      }
      &.current + .accordion__body {
        display: block;
      }
    }
    .accordion__body {
      display: none;
      padding: 8px 14px;
      line-height: 1.5;
      .text--header {
        font-size: 18px;
        font-weight: 600;
        color: $font-gray;
        @include breakpoint(tablet) {
          font-size: 17px;
        }
        @include breakpoint(mobile) {
          font-size: 16px;
        }
      }
      p {
        font-size: 17px;
        margin: 12px 0 12px 40px;
        @include breakpoint(tablet) {
          font-size: 16px;
        }
        @include breakpoint(mobile) {
          font-size: 15px;
        }
      }
    }
  }
}

.center--icons {
  width: 100%;
  background-color: $light-gray;
  margin-top: 45px;
  @include breakpoint(tablet) {
    margin-top: 35px;
  }
  @include breakpoint(mobile) {
    margin-top: 30px;
  }
  .center--icons__wrapper {
    width: 100%;
    max-width: 1170px;
    padding: 30px 15px;
    display: flex;
    margin: 0 auto;
    @include breakpoint(tablet) {
      flex-direction: column;
      width: 80%;
    }
    @include breakpoint(mobile) {
      flex-direction: column;
      width: 90%;
    }
    .icon--columns {
      display: flex;
      width: 50%;
      @include breakpoint(tablet) {
        width: 100%;
        &:first-child {
          margin-bottom: 20px;
        }
      }
      @include breakpoint(mobile) {
        width: 100%;
        &:first-child {
          margin-bottom: 18px;
        }
      }
      .center--icon {
        width: 50%;
        .icon--img {
          width: 80%;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 50px;
            color: $font-gray;
            @include breakpoint(tablet) {
              font-size: 40px;
            }
            @include breakpoint(mobile) {
              font-size: 35px;
            }
          }
        }
        h4 {
          font-size: 20px;
          font-weight: bold;
          margin: 15px 0;
          text-align: center;
          @include breakpoint(tablet) {
            font-size: 19px;
          }
          @include breakpoint(mobile) {
            font-size: 18px;
          }
        }
        p {
          width: 60%;
          margin: 0 auto;
          color: $font-gray;
          line-height: 1.3;
          @include breakpoint(tablet) {
            font-size: 15px;
          }
          @include breakpoint(mobile) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
