@import "_variables";

@keyframes notification {
  0% {
    //transform: translateY(80px);
    opacity: 0;
  }
  50% {
    //transform: translateY(-90px);
    opacity: 1;
  }
  100% {
    //transform: translateY(-70px);
    opacity: 1;
  }
}

@keyframes dissapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.error--message {
  opacity: 0;
  position: fixed;
  width: 50%;
  z-index: 7;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  background-color: $font-orange;
  padding: 20px 50px;
  text-align: center;
  border-radius: 8px;
  animation: notification 0.5s ease-out forwards,
    dissapear 0.5s ease-in forwards;
  animation-delay: 0.5s, 3s;
  color: white;
}
.main--image {
  position: relative;
  img {
    width: 100%;
  }
  .main--image__text {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateY(-50%);
    h1 {
      color: $main-gray;
      font-size: 60px;
      font-weight: 600;
      text-align: right;
      @include breakpoint(tablet) {
        font-size: 36px;
      }
      @include breakpoint(mobile) {
        font-size: 20px;
      }
      span {
        display: inline-block;
        border-bottom: 3px solid $font-orange;
        padding-bottom: 15px;
        @include breakpoint(tablet) {
          padding-bottom: 13px;
        }
        @include breakpoint(mobile) {
          border-bottom: 1.5px solid $font-orange;
          padding-bottom: 11px;
        }
      }
    }
    p {
      font-size: 24px;
      margin-top: 15px;
      @include breakpoint(tablet) {
        font-size: 17px;
        margin-top: 13px;
      }
      @include breakpoint(mobile) {
        display: none;
      }
    }
  }
}

.current--nav {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  ul {
    display: flex;
    align-items: center;
    li {
      &:first-child {
        margin-right: 15px;
        i {
          font-size: 24px;
          color: black;
        }
      }
      font-size: 18px;
      font-weight: 500;
      color: $font-gray;
    }
  }
}

.signup--form {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 15px;
  .form__header {
    display: flex;
    align-items: flex-end;
    color: $font-gray;
    padding-bottom: 12px;
    border-bottom: 1px solid $font-gray;
    @include breakpoint(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
    h2 {
      font-size: 24px;
      font-weight: 600;
      margin-right: 10px;
    }
    p {
      @include breakpoint(mobile) {
        margin-top: 9px;
      }
      span {
        color: $font-orange;
      }
    }
  }
  form {
    .basic-info {
      h3 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding: 12px;
        margin-top: 12px;
        color: black;
        background-color: #f6f5f6;
        border-top: 0.9px solid $font-gray;
        border-bottom: 0.9px solid $font-gray;
      }
      .basic-info__data {
        padding: 15px;
        .basic-info__wrapper {
          margin-top: 15px;
          display: flex;
          align-items: center;
          padding: 4px;
          @include breakpoint(mobile) {
            flex-direction: column;
          }
          .basic-info__label {
            width: 20%;
            @include breakpoint(tablet) {
              width: 30%;
            }
            @include breakpoint(mobile) {
              width: 90%;
              margin-bottom: 10px;
            }
            label {
              span {
                color: $font-orange;
              }
            }
          }
          .basic-info__input {
            @include breakpoint(mobile) {
              width: 90%;
            }
            input {
              padding: 6px 13px;
              font-size: 16px;
              border-radius: 4px;
              border: 1px solid $font-gray;
              width: 100%;
              @include breakpoint(mobile) {
                width: 90%;
              }
            }
            p {
              font-size: 14px;
              color: $font-orange;
            }
          }
        }
      }
    }
    .add-info {
      margin-top: 25px;
      h3 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding: 12px;
        margin-top: 12px;
        color: black;
        background-color: #f6f5f6;
        border-top: 0.9px solid $font-gray;
        border-bottom: 0.9px solid $font-gray;
      }
      .add-info__data {
        padding: 15px;
        .add-info__wrapper {
          margin-top: 15px;
          display: flex;
          align-items: center;
          padding: 4px;
          @include breakpoint(mobile) {
            flex-direction: column;
          }
          .add-info__label {
            width: 20%;
            @include breakpoint(tablet) {
              width: 30%;
            }
            @include breakpoint(mobile) {
              width: 90%;
              margin-bottom: 10px;
            }
            label {
              span {
                color: $font-orange;
              }
            }
          }
          .add-info__input {
            @include breakpoint(mobile) {
              width: 90%;
            }
            input {
              padding: 6px 13px;
              font-size: 16px;
              border-radius: 4px;
              border: 1px solid $font-gray;
              width: 100%;
              @include breakpoint(mobile) {
                width: 90%;
              }
            }
            p {
              font-size: 14px;
              color: $font-orange;
            }
          }
          .add-info__input--radio {
            @include breakpoint(mobile) {
              width: 90%;
            }
          }
        }
      }
    }
    .terms {
      margin-top: 20px;
      .terms__wrapper {
        padding: 15px;
        display: flex;
        @include breakpoint(tablet) {
          flex-direction: column;
        }
        .terms__link {
          width: 30%;
          @include breakpoint(tablet) {
            width: 100%;
            margin-bottom: 10px;
          }
          a {
            color: black;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .submit-info {
      margin-top: 35px;
      display: flex;
      justify-content: center;
      .submit--Btn {
        width: 50%;
        padding: 8px 16px;
        background-color: #f6f5f6;
        border: 1px solid $font-gray;
        cursor: pointer;
        border-radius: 6px;
        &:hover {
          background-color: $font-orange;
          color: white;
        }
      }
    }
  }
}
