@import "_reset";
@import "_variables";
@import "_mixin";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.footer {
  background-color: $main-gray;
  width: 100%;
  // 다른 푸터와 구분하기 위한 마진값
  margin-top: 20px;
  margin-bottom: 20px;
  //
  color: $font-white;
  padding-bottom: 20px;
  a {
    color: $font-white;
    text-decoration: none;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
  }
  @include breakpoint(tablet) {
    font-size: 14px;
  }
  .footer__top {
    width: 100%;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    .footer__row {
      width: 100%;
      max-width: 1140px;
      padding-right: 15px;
      padding-left: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 9px;
      padding-bottom: 9px;
      @include breakpoint(mobile) {
        flex-direction: column;
      }
      @include breakpoint(tablet) {
        flex-direction: column;
      }
      .footer__navi {
        display: flex;
        height: 18px;
        li {
          padding: 0 6px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          &:nth-child(2) {
            border-left: 1.5px solid $font-white;
            border-right: 1.5px solid $font-white;
          }
        }
      }
      .footer__icon {
        display: flex;
        @include breakpoint(mobile) {
          margin-top: 30px;
        }
        @include breakpoint(tablet) {
          margin-top: 34px;
        }
        li {
          margin-right: 8px;
          i {
            font-size: 28px;
            color: $font-white;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
  .footer__wrapper {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    .footer__row {
      h4 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &:nth-child(2) {
        padding-bottom: 12px;
        border-bottom: 1px solid $font-white;
        .footer-info {
          display: flex;
          margin-bottom: 8px;
          @include breakpoint(mobile) {
            flex-direction: column;
          }
          @include breakpoint(tablet) {
            flex-direction: column;
          }
          li {
            &:first-child {
              padding-right: 7px;
              @include breakpoint(mobile) {
                padding-right: 0;
              }
              @include breakpoint(tablet) {
                padding-right: 0;
              }
            }
            &:last-child {
              padding-left: 7px;
              border-left: 1.5px solid $font-white;
              @include breakpoint(mobile) {
                padding-left: 0;
                border-left: none;
                margin-top: 8px;
              }
              @include breakpoint(tablet) {
                padding-left: 0;
                border-left: none;
                margin-top: 8px;
              }
            }
          }
        }
      }
      &:nth-child(3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        @include breakpoint(mobile) {
          flex-direction: column;
          .footer__copyright {
            margin-bottom: 20px;
          }
        }
        @include breakpoint(tablet) {
          flex-direction: column;
          .footer__copyright {
            margin-bottom: 20px;
          }
        }
        img {
          width: 120px;
        }
      }
    }
  }
}

.header {
  font-family: inherit;
  position: fixed;
  width: 100%;
  font-size: 20px;
  a {
    text-decoration: none;
    color: $font-white;
  }
  .header--wide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
    padding: 15px;
    box-sizing: border-box;
    @include breakpoint(mobile) {
      display: none;
    }
    @include breakpoint(tablet) {
      display: none;
    }
    .header__logo {
      img {
        width: 150px;
      }
    }
    .header__navi {
      flex: 1;
      margin-left: 20px;
      margin-right: 20px;
      & > ul {
        display: flex;
        justify-content: space-evenly;
        li {
          padding-top: 4px;
          padding-bottom: 4px;
          &:nth-child(2) {
            position: relative;
          }
          ul {
            display: none;
            font-size: 17px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: $hover-background;
            margin-top: 4px;
            li {
              padding: 6px;
              text-align: center;
              a {
                color: $font-gray;
              }
              &:hover {
                a {
                  color: $font-orange;
                  text-decoration: underline;
                }
              }
            }
          }
          &:nth-child(2):hover {
            ul {
              display: block;
            }
          }
        }
      }
    }
    .header__language {
      color: $font-white;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
      span {
        padding-top: 4px;
        padding-bottom: 4px;
        &:nth-child(2) {
          margin-right: 4px;
          margin-left: 4px;
        }
      }
      .header__language-list {
        display: none;
        background-color: $hover-background;
        position: absolute;
        margin-top: 4px;
        font-size: 17px;
        width: 100%;
        li {
          padding: 6px;
          text-align: center;
          a {
            color: $font-gray;
          }
          &:hover {
            a {
              color: $font-orange;
              text-decoration: underline;
            }
          }
        }
      }
      &:hover {
        .header__language-list {
          display: block;
        }
      }
    }
  }
  .header--narrow {
    display: none;
    @include breakpoint(mobile) {
      display: block;
    }
    @include breakpoint(tablet) {
      display: block;
      .header__logo--responsive {
        display: flex;
        justify-content: center;
        padding: 15px;
        img {
          width: 105px;
        }
        .header__icon {
          position: absolute;
          padding: 4px;
          cursor: pointer;
          right: 30px;
          i {
            font-size: 28px;
          }
        }
      }
      .header__navi--side {
        display: none;
        background-color: rgba(128, 128, 128, 0.7);
        position: absolute;
        width: 100%;
        height: 100vh;
        .header__logo--side {
          width: 80%;
          background-color: #ffffff;
          .side--navi__header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
            border-bottom: 0.7px solid $font-gray;
            img {
              width: 100px;
            }
            .header__icon {
              position: absolute;
              padding: 4px;
              cursor: pointer;
              right: 30px;
              i {
                font-size: 28px;
              }
            }
          }
          .side--navi__body {
            .side--navi__collapsible {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 12px;
              font-size: 22px;
              font-weight: 600;
              cursor: pointer;
              border-bottom: 0.7px solid $font-gray;
              i {
                font-size: 22px;
              }
              &:hover,
              &.active {
                border-bottom: 1px solid $font-orange;
                & + ul {
                  li {
                    a:hover {
                      color: $font-orange;
                    }
                  }
                }
                li {
                  &:first-child {
                    color: $font-orange;
                  }
                }
              }
            }
            .collapsible__content {
              display: none;
              background-color: $light-orange;
              li {
                padding-left: 15px;
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 0.7px solid $font-gray;
                a {
                  color: $font-gray;
                  padding: 7px;
                  font-size: 18px;
                }
              }
            }
            .visible {
              display: block;
            }
            .side--navi__content {
              padding: 12px;
              font-size: 22px;
              font-weight: 600;
              border-bottom: 0.7px solid $font-gray;
              li {
                a {
                  color: black;
                  &:hover {
                    color: $font-orange;
                  }
                }
              }
            }
          }
        }
      }
      .hide {
        display: none;
      }
      .visible {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.body-wrapper {
  width: 100%;
  .fave-intro {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: normal;
    @include breakpoint(mobile) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    @include breakpoint(tablet) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .fave-intro__header {
      width: 40%;
      @include breakpoint(tablet) {
        width: 100%;
      }
      h2 {
        color: $font-orange;
        font-size: 60px;
        font-weight: 700;
        word-break: keep-all;
        @include breakpoint(mobile) {
          font-size: 32px;
        }
        @include breakpoint(tablet) {
          font-size: 36px;
          text-align: center;
        }
      }
    }
    .fave-intro__paragraph {
      display: flex;
      justify-content: flex-end;
      margin-top: 28px;
      @include breakpoint(tablet) {
        margin-top: 22px;
        display: block;
      }
      p {
        font-size: 24px;
        width: 50%;
        word-break: keep-all;
        @include breakpoint(tablet) {
          width: 100%;
          font-size: 18px;
        }
      }
    }
  }
}

.movie {
  img {
    width: 100%;
  }
}
