@import "_reset";
@import "_variables";
@import "_mixin";
@import "_admin.scss";
@import "_header.scss";
@import "_signup.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.footer {
  background-color: $main-gray;
  width: 100%;
  // 다른 푸터와 구분하기 위한 마진값
  margin-top: 20px;
  margin-bottom: 20px;
  //zz
  color: $font-white;
  padding-bottom: 20px;
  a {
    color: $font-white;
    text-decoration: none;
  }
  @include breakpoint(mobile) {
    font-size: 14px;
  }
  @include breakpoint(tablet) {
    font-size: 14px;
  }
  .footer__top {
    width: 100%;
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    .footer__row {
      width: 100%;
      max-width: 1140px;
      padding-right: 15px;
      padding-left: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 9px;
      padding-bottom: 9px;
      @include breakpoint(mobile) {
        flex-direction: column;
      }
      @include breakpoint(tablet) {
        flex-direction: column;
      }
      .footer__navi {
        display: flex;
        height: 18px;
        li {
          padding: 0 6px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
          &:nth-child(2) {
            border-left: 1.5px solid $font-white;
            border-right: 1.5px solid $font-white;
          }
        }
      }
      .footer__icon {
        display: flex;
        @include breakpoint(tablet) {
          margin-top: 34px;
        }
        @include breakpoint(mobile) {
          margin-top: 30px;
        }
        li {
          margin-right: 8px;
          i {
            font-size: 28px;
            color: $font-white;
          }
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
  .footer__wrapper {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    .footer__row {
      h4 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &:nth-child(2) {
        padding-bottom: 12px;
        border-bottom: 1px solid $font-white;
        .footer-info {
          display: flex;
          margin-bottom: 8px;
          @include breakpoint(mobile) {
            flex-direction: column;
          }
          @include breakpoint(tablet) {
            flex-direction: column;
          }
          li {
            &:first-child {
              padding-right: 7px;
              @include breakpoint(mobile) {
                padding-right: 0;
              }
              @include breakpoint(tablet) {
                padding-right: 0;
              }
            }
            &:last-child {
              padding-left: 7px;
              border-left: 1.5px solid $font-white;
              @include breakpoint(mobile) {
                padding-left: 0;
                border-left: none;
                margin-top: 8px;
              }
              @include breakpoint(tablet) {
                padding-left: 0;
                border-left: none;
                margin-top: 8px;
              }
            }
          }
        }
      }
      &:nth-child(3) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        @include breakpoint(mobile) {
          flex-direction: column;
          .footer__copyright {
            margin-bottom: 20px;
          }
        }
        @include breakpoint(tablet) {
          flex-direction: column;
          .footer__copyright {
            margin-bottom: 20px;
          }
        }
        img {
          width: 120px;
        }
      }
    }
  }
}

.body-wrapper {
  width: 100%;
  .fave-intro {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: normal;
    @include breakpoint(tablet) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include breakpoint(mobile) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .fave-intro__header {
      width: 40%;
      @include breakpoint(tablet) {
        width: 100%;
      }
      h2 {
        color: $font-orange;
        font-size: 60px;
        font-weight: 700;
        word-break: keep-all;
        @include breakpoint(tablet) {
          font-size: 36px;
          text-align: center;
        }
        @include breakpoint(mobile) {
          font-size: 32px;
        }
      }
    }
    .fave-intro__paragraph {
      display: flex;
      justify-content: flex-end;
      margin-top: 28px;
      @include breakpoint(tablet) {
        margin-top: 22px;
        display: block;
      }
      p {
        font-size: 24px;
        width: 70%;
        word-break: keep-all;
        @include breakpoint(tablet) {
          width: 100%;
          font-size: 18px;
        }
      }
    }
  }
  .fave-links {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    .fave-links__row {
      display: flex;
      justify-content: space-around;
      &:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      @include breakpoint(mobile) {
        flex-direction: column;
        align-items: center;
      }
      @include breakpoint(tablet) {
        flex-direction: column;
        align-items: center;
        &:nth-child(2) {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      .image-wrapper {
        position: relative;
        width: 40%;
        border-radius: 24px;
        overflow: hidden;
        @include breakpoint(tablet) {
          width: 70%;
          &:nth-child(2) {
            margin-top: 18px;
            margin-bottom: 18px;
          }
        }
        @include breakpoint(mobile) {
          width: 90%;
          &:nth-child(2) {
            margin-top: 15px;
            margin-bottom: 15px;
          }
        }
        &:hover {
          a {
            h3 {
              color: $font-orange;
              transform: scale(1.1);
              transition: 0.2s;
            }
            img {
              transform: scale(1.2);
              transition: 0.2s;
            }
          }
          .gray-wrapper {
            display: none;
          }
        }
        a {
          h3 {
            position: absolute;
            color: white;
            font-size: 40px;
            left: 24px;
            top: 24px;
            z-index: 2;
          }
          img {
            width: 100%;
            border-radius: 24px;
          }
        }
        .gray-wrapper {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          background-color: #7d7d7d;
          opacity: 0.5;
        }
      }
    }
  }
  .fave-info {
    width: 100%;
    max-width: 1170px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 60px;
    padding-right: 15px;
    padding-left: 15px;
    .fave-info__header {
      h3 {
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        color: $font-orange;
      }
    }
    .fave-info__body {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      @include breakpoint(tablet) {
        flex-direction: column;
        align-items: center;
      }
      .fave-info__columns {
        width: 30%;
        @include breakpoint(tablet) {
          width: 70%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:nth-child(2) {
            flex-direction: row-reverse;
            margin-top: 40px;
            margin-bottom: 40px;
          }
        }
        @include breakpoint(mobile) {
          width: 90%;
        }
        .info-icon {
          span {
            border: 1px solid $font-orange;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            border-radius: 100%;
            margin: 0 auto;
            i {
              font-size: 48px;
              color: $font-orange;
            }
          }
        }
        .info-text {
          @include breakpoint(tablet) {
            width: 60%;
          }
          @include breakpoint(mobile) {
            width: 70%;
          }
          h4 {
            font-size: 28px;
            font-weight: 600;
            text-align: center;
            margin-top: 8px;
            margin-bottom: 24px;
          }
          p {
            line-height: normal;
          }
        }
      }
    }
  }
}

.movie {
  img {
    width: 100%;
  }
}
