doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.1/css/all.css", integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")
        title FAVE_ADMIN
    body
        include ../partials/admin_header
        main
            block content