doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(property="og:site_name", content="FAVE")
        meta(name="keywords", content="fave, 페이브, 건강한친구")
        meta(property="og:title", content="FAVE")
        meta(property="og:site_name", content="FAVE")
        meta(property="og:description", content="Smart Balance Trainer FAVE")
        meta(property="og:image", content="img/img-link.jpg")
        meta(property="og:url", content="https://www.faves.co.kr")
        meta(property="og:type", content="website")
        meta(name="description", content="실시간 분석을 제공하여 홈트, 밸런스 교정, 다이어트 효과를 높이는 스마트한 운동기구, FAVE를 제작하는 (주)건강한친구입니다.")
        meta(name="naver-site-verification" content="fd324afff14ff30a594559f86d784c1ba15f7674")
        link(rel="icon", href="/img/favicon16.ico", sizes="16x16")
        link(rel="icon", href="/img/favicon32.ico", sizes="32x32")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.1/css/all.css", integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")
        //- Global site tag (gtag.js) - Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-151319325-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-151319325-1');          
        if title          
            title= `${title} FAVE`
        else
            title FAVE
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        //- jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js", integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", crossorigin="anonymous")
        //- iamprot.payment.js
        script(type="text/javascript", src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js")
        script(src="/js/main.js")
        script(type='application/ld+json').
            [
             {
              "@context": "http://schema.org",
              "@type": "Organization",
              "name": "FAVE",
              "url": "https://www.faves.co.kr",
              "sameAs" : [
               "https://smartstore.naver.com/healthyfriends/products/4891822755",
               "https://www.facebook.com/FAVE.world/",
               "https://www.instagram.com/fave.korea/",
               "https://twitter.com/57vt2EMECU3aBE8",
               "https://www.youtube.com/channel/UCJY5aiBe5M9wKhzKTI1OuA?view_as=subscriber"
              ]
             }
            ]