doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(property="og:site_name", content="FAVE")
        meta(name="keywords", content="fave, balance, fitness")
        meta(property="og:title", content="FAVE")
        meta(property="og:site_name", content="FAVE")
        meta(property="og:description", content="Smart Balance Trainer FAVE")
        meta(property="og:image", content="img/img-link.jpg")
        meta(name="description", content="we are Strong Friend Inc. that manufactures smart healthcare products that integrate ICT technology with functional training exercise equipment.")
        link(rel="icon", href="/img/favicon16.ico", sizes="16x16")
        link(rel="icon", href="/img/favicon32.ico", sizes="32x32")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.1/css/all.css", integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")
        title FAVE
    body
        include ../partials/header
        main
            .modal.hide-modal#js-modal
                .modal__overlay#js-overlay
                .modal__content
                    .content__top
                        span.top__closeBtn#js-closBtn
                            i.fas.fa-times
                    .content__img
                        a(href="https://www.kickstarter.com/projects/fave-strong-friend/fave-high-efficiency-smart-home-trainer?ref=discovery&term=fave")
                            img(src="/img/modal/modal-eng.png")
                    .content__bottom
                        label(for="ns-check") Do not see today
                        input(type="checkbox", id="ns-check", value="modal")
            block content
        include ../partials/footer
        script(src="/jsDev/main.js")