doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(property="og:site_name", content="FAVE")
        meta(name="keywords", content="홈트레이닝, 운동, 피트니스")
        meta(property="og:title", content="운동을 즐겁게 - FAVE")
        meta(property="og:description", content="게임과 피트니스 앱을 통한 나만의 퍼스널 트레이너 FAVE")
        //og:image 들어가야함
        meta(name="description", content="FAVE의 제품을 게임과 피트니스 앱에 연결해서 재미있게 운동을 즐기세요. 나만의 지표로 더욱 재밌고, 건강하게 운동을 할 수 있습니다.")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.1/css/all.css", integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe", crossorigin="anonymous")
        link(rel="stylesheet", href="css/style.css")
        title FAVE
    body
        include ../partials/header_kr
        main
            block content
        include ../partials/footer_kr
        script(src="jsDev/main.js")