doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no")
        meta(property="og:site_name", content="FAVE")
        meta(name="keywords", content="fave, balance, fitness")
        meta(property="og:title", content="FAVE")
        meta(property="og:site_name", content="FAVE")
        meta(property="og:description", content="Smart Balance Trainer FAVE")
        meta(property="og:image", content="/img/img-link.jpg")
        meta(name="description", content="機能性 トレーニング運動器具と ICT技術を 融合したスマートヘルスケア製品を 製作する (株)元気な友人です. FAVE 350, 450を 含めて今後に開発される商品の特徴と 使用方法を 提供受けて, 商品を 購入することができます.")
        link(rel="icon", href="/img/favicon16.ico", sizes="16x16")
        link(rel="icon", href="/img/favicon32.ico", sizes="32x32")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.1/css/all.css", integrity="sha384-wxqG4glGB3nlqX0bi23nmgwCSjWIW13BdLUEYC4VIMehfbcro/ATkyDsF/AbIOVe", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")
        //- Global site tag (gtag.js) - Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-151319325-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-151319325-1');
        title FAVE
    body
        include ../partials/header_jp
        main
            block content
        include ../partials/footer_jp
        script(src="/jsDev/main.js")